.article-photo-carousel {
  contain: content;
  margin: var(--margin) 0;
  position: relative;

  .article-photo-carousel__grid {
    @include grid-container;
  }

  .article-photo-carousel__wrapper {
    grid-column: var(--layout-center);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .article-photo-carousel__image {
    margin: 0 -10px;
    padding: 0 20px;
    position: relative;
    width: calc(100% + 20px);

    .swiper-container {
      overflow: hidden;
    }

    .swiper-wrapper {
      align-items: stretch;
    }

    .swiper-slide {
      height: auto;
      padding: 0 10px;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    // override default
    background: none;
    display: inline-block;
    height: 40px;
    padding: 10px;
    width: 40px;
  }

  .swiper-button-prev {
    left: 0;
    position: absolute;
    top: 40%;
  }

  .swiper-button-next {
    position: absolute;
    right: 0;
    top: 40%;
  }

  .swiper-button-disabled {
    opacity: .4;
    pointer-events: none;
  }

  .swiper-pagination {
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 10px;
    transition: .3s opacity;
    z-index: 10;
  }

  .swiper-pagination-bullet {
    background: $color-white;
    cursor: pointer;
    display: inline-block;
    height: 10px;
    margin-left: 10px;
    opacity: .2;
    width: 10px;
  }

  .swiper-pagination-bullet-active {
    background: $color-blue;
    opacity: 1;
  }
}
