
{% import 'components/atoms/picture/picture.html' as atom_picture %}

{% macro regular(id = '', height = 'auto', pictures = [], information = false, expandable = true, theme = 'blue', context = false) %}
  {% set component = 'image-header' %}

  <div {% if id %}id="{{ id }}"{% endif %} class="{{ component }}  {% if context %}{{ component }}--context{% endif %} {% if pictures|length == 0 %}{{ component }}__no-image{% endif %}">


      {% if pictures|length > 1 %}

        <div class="swiper-container">
          <ul class="swiper-wrapper">

            {% for picture in pictures %}
              <li class="swiper-slide">
                {{ atom_picture.background(images = picture.images, fits = picture.fits, positions = picture.positions, loading = picture.loading, width = picture.width, height = picture.height, alt = picture.alt) }}
              </li>
            {% endfor %}

          </ul>

          <div class="swiper-navigation" role="swiper-controls">
            <div class="swiper-pagination">
            </div>
            <button class="swiper-button-prev" aria-label="scroll-left">
              {% include 'assets/icons/custom/ic-arrow-left.svg' %}
            </button>
            <button class="{{ component }}__expand" aria-label="expand">
              {% include 'assets/icons/custom/ic-expand.svg' %}
            </button>
            <button class="swiper-button-next" aria-label="scroll-right">
            {% include 'assets/icons/custom/ic-arrow-right.svg' %}
            </button>
          </div>
        </div>

      {% elif pictures|length == 1 %}

        {{ atom_picture.background(classes = component, images = pictures[0].images, fits = pictures[0].fits, positions = pictures[0].positions, loading = pictures[0].loading, width = pictures[0].width, height = pictures[0].height, alt = pictures[0].alt) }}
        {% if expandable %}
          <button class="{{ component }}__expand {{ component }}__expand--single" aria-label="expand">
            {% include 'assets/icons/custom/ic-expand.svg' %}
          </button>
        {% endif %}
      {% endif %}

      {% if information %}
        <div class="{{ component }}__label {{ component }}__label--{{ theme }}">

          {% if pictures|length > 1 %}
            <div class="{{ component }}__mobile-markers">
              {% for marker in pictures %}
                <span class="{{ component }}__slide-indicator" aria-label="slide-indicator">{% include 'assets/icons/custom/ic_slide_indication.svg' %}</span>
              {% endfor %}
            </div>
          {% endif%}

          {% if information.name %}<p class="{{ component }}__name">{{ information.name }}</p>{% endif %}
          {% if information.title %}<h1 class="{{ component }}__title">{{ information.title }}</h1>{% endif %}
          {% if information.date %}<p class="{{ component }}__date">{{ information.date }}</p>{% endif %}
        </div>

      {% endif %}

  </div>
{% endmacro %}
