
@mixin image-header {
  background-color: transparent;
  color: transparent;
  height: calc(100vh - 109px);
  padding-bottom: var(--margin);
  padding-top: calc(var(--margin) * 1.5);
  position: relative;

  &.image-header--context {
    @include mobile-only {
      height: calc(100vh - 169px);
    }
  }

  @include landscape {
    height: calc(100vh - 123px);
  }

  .image-header__expand {
    background: $color-white;
    color: $color-blue;
    display: none;
    height: 40px;
    left: auto;
    opacity: 1;
    padding: 12px;
    position: absolute;
    right: 65px;
    top: 25px;
    width: 40px;
    z-index: 500;

    @include landscape {
      display: block;
    }
  }

  .image-header__expand--single {
    right: 25px;
  }

  .image-header__mobile-markers {
    display: flex;
    justify-content: center;
    position: absolute;
    top: -60px;
    width: calc(100vw - 30px);
    z-index: 500;

    .image-header__slide-indicator {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }

    @include landscape {
      display: none;
    }
  }

  &.image-header__no-image {
    height: 100%;

    .image-header__label {
      position: static;
    }
  }
}

@mixin swiper {
  height: calc(100vh - 109px);

  @include landscape {
    min-height: calc(100vh - 123px);
  }

  .swiper-button-prev,
  .swiper-button-next,
  .image-header__expand {
    background: $color-white;
    color: $color-black;
    left: auto;
    opacity: 1;
    padding: 12px;
    position: absolute;
    top: 25px;
    z-index: 500;

    svg {
      height: 15px;
      width: 15px;
    }
  }

  .swiper-wrapper {
    padding: 0;
  }

  .swiper-slide {
    list-style: none;
  }

  .swiper-button-next {
    right: 25px;
  }

  .swiper-button-prev {
    right: 105px;
  }

  .swiper-navigation {
    display: none;

    @include landscape {
      display: block;
    }
  }
}

@mixin image-header__label {
  bottom: 0;
  left: 0;
  max-width: 90%;
  min-width: 250px;
  padding: 15px;
  position: absolute;
  z-index: 500;

  @include landscape {
    max-width: 60%;
    min-width: 550px;
    padding: 20px 30px;
  }

  .image-header__date,
  .image-header__name,
  .image-header__title {
    word-wrap: break-word;
  }

  .image-header__date {
    @include typography(sub-heading, $montserrat-font-stack);
  }

  .image-header__name {
    text-transform: uppercase;

    @include typography(sub-heading, $montserrat-font-stack);
  }

  .image-header__title {
    text-transform: uppercase;

    @include typography(heading-1, $montserrat-font-stack);
  }

  &.image-header__label--white {
    background: $color-white;
    color: $color-blue;
  }

  &.image-header__label--blue {
    background: $color-blue;
    color: $color-white;
  }
}

.image-header {
  @include image-header;

  .image-header__label {
    @include image-header__label;
  }

  .swiper-container {
    @include swiper;
  }
}
