@import '../../../assets/stylesheets/utilities/mixins/fix-antialiasing';

html {
  @include fix-antialiasing;
  @include typography(paragraph);

  background-color: $color-white;
  display: flex;
  flex-direction: column;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  position: relative;

  em,
  i {
    font-style: oblique;
  }

  strong,
  b {
    font-weight: bold;
  }

  &.prevent-scrolling {
    max-height: 100vh;
    overflow: hidden;
  }

  &.is-edge {
    display: block; // Otherwise, developer tools will crash in Edge - so no sticky footer
  }
}

body {
  background-color: $color-white;
  color: $color-black;
  font: inherit;
  -webkit-font-smoothing: antialiased; // Prevent smudgy bold fonts on OSX
  margin: 0 auto;
  max-width: var(--document-max-width);
  min-width: var(--document-min-width);
  position: relative;
  width: 100%;

  &.menu-bar--sticky {
    padding-top: 126px;
  }

  &.theme--blue {
    --theme-color: var(--color-blue);
  }

  &.theme--purple {
    --theme-color: var(--color-purple);
  }

  &.theme--pink {
    --theme-color: var(--color-pink);
  }

  &.theme--magenta {
    --theme-color: var(--color-magenta);
  }
}
