
.search-header {
  background-color: transparent;
  color: transparent;
  position: relative;
  z-index: 201; //dont let filters be on top here

  .search-header__picture {
    filter: brightness(.66) contrast(1.1);
  }

  .search-header__grid-container {
    @include grid-container;

    height: 100%;
    padding-top: 40px;

    @include landscape {
      padding-top: 50px;
    }
  }

  .search-header__wrapper {
    grid-column: column 1 / span 12;
  }

  .search-header__title,
  .search-header__subtitle {
    color: $color-white;
  }

  .search-header__title {
    @include typography(heading-1, $montserrat-font-stack);

    margin-bottom: 10px;
    text-transform: uppercase;
  }

  .search-header__subtitle {
    @include typography(sub-heading, $montserrat-font-stack);
  }

  .search-header__live-search {
    left: 50%;
    position: absolute;
    top: 60%;
    transform: translate(-50%, -50%,);

    @include landscape {
      top: 50%;
    }

    &.live-search--focused {
      @include mobile-only {
        left: 0;
        top: -120px;
        transform: translate(0, 0);
        transition: width .3s ease, left .3s ease .3s, top .3s ease .3s, transform .3s ease .3s;
        width: 100%;

        .live-search__results {
          border-color: $color-blue;
          height: calc(100vh - 50px);
        }
      }
    }
  }
}

.search-header--default {
  height: 376px;

  @include landscape {
    height: 677px;
  }
}

.search-header--large {
  height: calc(var(--real-100vh) - 119px);

  @include landscape {
    height: calc(var(--real-100vh) - 128px);
  }
}
