{% import 'components/atoms/picture/picture.html' as atom_picture %}
{% import 'components/molecules/live-search/live-search.html' as molecule_live_search %}

{% macro regular(id = '', variant = 'default', height = 'auto', pictures = [], title = '', subtitle = '', is_homepage = false, live_search_url = '', search_url = '', picture_index = 0) %}
  {% set component = 'search-header' %}

  <div {% if id %}id="{{ id }}"{% endif %} class="{{ component }} {{ component }}--{{ variant }}">
    {{ atom_picture.background(classes = component + '__picture', images = pictures[picture_index].images, fits = pictures[picture_index].fits, positions = pictures[picture_index].positions, loading = pictures[picture_index].loading, width = pictures[picture_index].width, height = pictures[picture_index].height, alt = pictures[picture_index].alt) }}

    <div class="{{ component }}__grid-container">
      <div class="{{ component }}__wrapper">
        <h1 class="{{ component }}__title">{{ title }}</h1>
        <h3 class="{{ component }}__subtitle">{{ subtitle }}</h3>

        {{ molecule_live_search.regular(
          classes = component + '__live-search',
          placeholder_short = 'Suche',
          placeholder_long = 'Suche nach Objekt, Person, Thema, Schlagwort ',
          is_homepage = is_homepage,
          live_search_url = live_search_url,
          search_url = search_url,
          results = []
        )}}
      </div>
    </div>
  </div>
{% endmacro%}
