
@mixin article-detail {
  margin-top: 25px;

  &.article-detail--minimal {
    display: inline-block;
    padding-left: calc(50% - 720px);
    width: 50%;

    .article-detail__column-left {
      grid-column: column 1 / span 12;
    }
  }

  @include landscape {
    margin-top: var(--margin-lg);
  }

  .article-detail__grid {
    @include grid-container;
  }

  .article-detail__column-left {
    grid-column: var(--layout-left);
  }

  .article-detail__column-right {
    display: flex;
    flex-direction: column;
    grid-column: var(--layout-right);
  }

  .article-detail__icon-favorite {
    height: 20px;
    //position: absolute; temporarily so i can at least see it
    width: 20px;

    @include landscape {
      display: none;
    }

    .heart-filled {
      display: none;
    }

    .heart-empty {
      display: block;
    }
  }

  .article-detail__icon-favorite--active {
    .heart-filled {
      display: block;
    }

    .heart-empty {
      display: none;
    }
  }

  .article-detail__reading-time {
    @include typography(sub-heading, $montserrat-font-stack);

    color: $color-blue;
    margin-bottom: -.5em;
    margin-top: auto;
  }

  .article-detail__audio {
    padding-bottom: 0;

    @include landscape {
      margin-top: auto;
      padding-bottom: 35px;
    }
  }

  button:focus {
    outline: none;
  }
}

.article-detail {
  @include article-detail;
}
