{% extends 'templates/_base.html' %}

{% import 'components/organisms/article-content/article-content.html' as article_content %}

{% block page_title -%}
  Static Templates
{%- endblock %}

{% block page_theme -%}
  theme--blue
{%- endblock %}

{% block content %}
  {% call article_content.regular() %}
    <h2>PLEASE NOTE: The static templates seem to be out of date in some places. -EKL</h2>

    <h3>Detail Pages</h3>
    <ul>
      <li><a href="/landing/landing.html">Landing Page</a></li>
      <li><a href="/content/content.html">Content Page</a></li>
      <li><a href="/explore/explore.html">Explore Page</a></li>
    </ul>

    <p>Bla kleurtest</p>
  {% endcall %}
{% endblock %}
