{% extends 'templates/_base.html' %}

{% import 'components/organisms/article-content/article-content.html' as article_content %}

{% block page_title -%}
  Static Templates
{%- endblock %}

{% block page_theme -%}
  theme--blue
{%- endblock %}

{% block content %}
  {% call article_content.regular() %}
    <h3>Pages</h3>
    <ul>
      <li><a href="/landing/landing.html">Landing Page</a></li>
      <li><a href="/content/content.html">Content Page</a></li>
      <li><a href="/explore/explore.html">Explore Page</a></li>
      <li><a href="/explore-detail/explore-detail.html">Explore detail Page</a></li>
      <li><a href="/news-and-events/news-and-events.html">News and events Page</a></li>
    </ul>
  {% endcall %}
{% endblock %}
