{% import 'components/atoms/link/link.html' as atom_link %}
{% import 'components/atoms/picture/picture.html' as atom_picture %}

{% macro regular(
  id = '',
  classes = '',
  title = '',
  card = {},
  excerpt = '',
  link_label = ''
) %}
  {% set component = 'news-list-intro' %}
  <section {% if id %}id="{{ id }}"{% endif %} class="{{ component }} {{ classes }}">
    <div class="{{ component }}__grid">
      <h1 class="{{ component }}__title">{{ title }}</h1>
      <div class="{{ component }}__post">
        <h3 class="{{ component }}__post__title">{{ card.title }}</h3>
        {{ atom_picture.regular(
          images = card.picture.images,
          fits = card.picture.fits,
          classes = component + '__post__picture',
          positions = card.picture.positions,
          width = card.picture.width,
          height = card.picture.height,
          loading = card.picture.loading,
          alt = card.picture.alt
        ) }}
        <div class="{{ component }}__post__content">
          <p class="{{ component }}__post__excerpt">
            {{ excerpt }}
          </p>
          <span class="{{ component }}__post__date">{{ card.date }}</span>
          {{ atom_link.regular(
            classes = component + '__post__link',
            href = card.href,
            title = link_label,
            icon_after = 'custom/arrow-right-icon'
          ) }}
        </div>
      </div>
    </div>
  </section>
{% endmacro %}
