{% import 'components/atoms/link/link.html' as atom_link %}
{% import 'components/atoms/picture/picture.html' as atom_picture %}

{% macro regular(
  id = '',
  classes = '',
  title = '',
  post = {}
) %}
  {% set component = 'news-list-intro' %}
  <section {% if id %}id="{{ id }}"{% endif %} class="{{ component }} {{ classes }}">
    <div class="{{ component }}__grid">
      <h1 class="{{ component }}__title">{{ title }}</h1>
      <article class="{{ component }}__post">
        <h3 class="{{ component }}__post__title">{{ post.title }}</h3>

        {{ atom_picture.regular(
          images = post.picture.images,
          fits = post.picture.fits,
          classes = component + '__post__picture',
          positions = post.picture.positions,
          width = post.picture.width,
          height = post.picture.height,
          loading = post.picture.loading,
          alt = post.picture.alt
        ) }}

        <div class="{{ component }}__post__content">
          {{ atom_link.regular(
            classes = component + '__post__link',
            href = post.link.href,
            title = post.link.title,
            target = post.link.target,
            icon_before = post.link.icon_before,
            icon_after = post.link.icon_after
          ) }}
          <p class="{{ component }}__post__excerpt">
            {{ post.excerpt }}
          </p>
          <span class="{{ component }}__post__date">{{ post.date }}</span>
        </div>
      </article>
    </div>
  </section>
{% endmacro %}
