{% import 'components/atoms/richtext/richtext.html' as atom_richtext %}
{% import 'components/molecules/quote-single/quote-single.html' as molecule_quote %}

{% macro regular(id = '', quote = '', attribution = '', text = '') %}
  {% set component = 'article-quote-and-text' %}
  <div {% if id %}id="{{ id }}"{% endif %} class="{{ component }}">
    <div class="{{ component }}__grid">
      <div class="{{ component }}__wrapper-left">
        {{ molecule_quote.regular(name = attribution, quote = quote) }}
      </div>
      <div class="{{ component }}__wrapper-right">
        {% call atom_richtext.regular() %}
          {{ text }}
        {% endcall %}
      </div>
    </div>
  </div>
{% endmacro %}
