
.article-quote-and-text {
  contain: content;
  margin: var(--margin-lg) 0 0 0;
  position: relative;

  p {
    @include typography(body-text, $libre-font-stack);
  }

  .article-quote-and-text__grid {
    @include grid-container;
  }

  .article-quote-and-text__wrapper-left {
    grid-column: var(--layout-left);
    margin-right: auto;
  }

  .article-quote-and-text__wrapper-right {
    grid-column: var(--layout-right);
    margin-right: auto;
    margin-top: 30px;

    @include landscape {
      margin-top: 0;
    }
  }
}
