
.article-photo {
  contain: content;
  margin: var(--margin-lg) 0 0 0;
  position: relative;

  .figure__caption {
    margin-top: 12px;

    @include typography(caption, $replica-font-stack);
  }
}

.article-photo--align-default {
  .article-photo__grid {
    @include grid-container;
  }

  .article-photo__wrapper {
    grid-column: column 1 / span 12;
    margin-right: auto;

    @include landscape {
      grid-column: column 7 / span 4;
    }
  }
}

.article-photo--align-full {
  .article-photo__grid {
    @include grid-container;
  }

  .article-photo__wrapper {
    grid-column: var(--layout-full);
  }
}

.article-photo--align-fullbleed {
  .figure__caption {
    padding: 0 calc(var(--grid-gutter) + var(--grid-margin));
  }
}
