
{% import 'components/atoms/picture/picture.html' as atom_picture %}

{% macro regular(id = '', height = 'auto', title = '', subtitle = '', picture = '', theme = 'blue') %}
  {% set component = 'simple-image-header' %}

  <div {% if id %}id="{{ id }}"{% endif %} class="{{ component }}">

    {{ atom_picture.background(classes = component, images = picture.images, fits = picture.fits, positions = picture.positions, loading = picture.loading, width = picture.width, height = picture.height, alt = picture.alt) }}

    <div class="{{ component }}__label {{ component }}__label--{{ theme }}">
      <h1 class="{{ component }}__title">{{ title }}</h1>
      <p class="{{ component }}__subtitle">{{ subtitle }}</p>
    </div>

  </div>

{% endmacro %}
