
.article-video-embed {
  margin: calc(var(--margin) * 1.5) 0;
  position: relative;

  .video-embed {
    margin-bottom: 5px;
  }

  .article-video-embed__grid {
    @include grid-container;
  }

  .article-video-embed__wrapper {
    grid-column: column 1 / span 12;

    @include landscape {
      grid-column: column 7 / span 6;
    }
  }

  .article-video-embed__caption {
    @include typography(sub-heading, $montserrat-font-stack);

    color: $color-blue;
  }

  .article-video-embed__link {
    .link__icon {
      vertical-align: baseline;
      width: auto;
    }
  }
}
