
$margin-top: 50px;

.richtext--regular {
  @include style-list-unordered;

  h2 {
    @include typography(heading-2, $montserrat-font-stack, $margin-bottom: true);

    color: var(--theme-color);
    text-transform: uppercase;

    &:not(:first-child) {
      margin-top: $margin-top;
    }
  }

  h3 {
    @include typography(heading-3, $montserrat-font-stack, $margin-bottom: true);

    color: var(--theme-color);
    text-transform: uppercase;

    &:not(:first-child) {
      margin-top: $margin-top;
    }
  }

  p {
    @include typography(body-text, $lora-font-stack, $margin-bottom: true);
  }

  ul {
    font-size: var(--body-text-font-size);
    line-height: var(--body-text-line-height);
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    --list-spacing: 20px;

    @include landscape {
      --list-spacing: 50px;
    }

    padding-left: var(--list-spacing);
    position: relative;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &::before {
      color: var(--theme-color);
      content: '•';
      font-size: 22px;
      left: 0;
      position: absolute;
      top: 0;
      transform: translateX(-50%);

      @include landscape {
        left: calc(#{var(--list-spacing)} / 2);
      }
    }
  }
}
