
$margin-top: 50px;

.richtext--regular {
  h2 {
    @include typography(heading-2, $montserrat-font-stack, $margin-bottom: true);

    color: var(--theme-color);

    &:not(:first-child) {
      margin-top: $margin-top;
    }
  }

  h3 {
    @include typography(heading-3, $montserrat-font-stack, $margin-bottom: true);

    color: var(--theme-color);

    &:not(:first-child) {
      margin-top: $margin-top;
    }
  }

  h4 {
    @include typography(heading-4, $montserrat-font-stack, $margin-bottom: true);

    color: var(--theme-color);

    &:not(:first-child) {
      margin-top: $margin-top;
    }
  }

  h5 {
    @include typography(heading-5, $montserrat-font-stack, $margin-bottom: true);

    color: var(--theme-color);

    &:not(:first-child) {
      margin-top: $margin-top;
    }
  }

  p {
    @include typography(body-text, $lora-font-stack, $margin-bottom: true);
  }

  ul,
  ol {
    @include style-list-base;
  }

  ul {
    @include style-list-unordered;
  }

  ol {
    @include style-list-ordered;
  }
}
