
$margin-top: 50px;

.richtext--regular {
  @include style-list-unordered;

  h2 {
    @include typography(heading-2, $montserrat-font-stack, $margin-bottom: true);

    &:not(:first-child) {
      margin-top: $margin-top;
    }

    text-transform: uppercase;
  }

  h3 {
    @include typography(heading-3, $montserrat-font-stack, $margin-bottom: true);

    &:not(:first-child) {
      margin-top: $margin-top;
    }

    text-transform: uppercase;
  }

  p {
    @include typography(body-text, $lora-font-stack, $margin-bottom: true);
  }

  ul {
    font-size: var(--body-text-font-size);
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    $list-spacing: 50px;

    &::before {
      color: var(--theme-color);
      content: '•';
      left: $list-spacing / 2;
      position: absolute;
      top: 0;
    }

    padding-left: $list-spacing;
    position: relative;
  }
}
