@mixin article-links {
  margin: var(--margin-lg) 0 80px 0;

  @include landscape {
    margin: var(--margin-lg) 0 160px 0;
  }

  .article-links__grid {
    @include grid-container;
  }

  .article-links__wrapper {
    grid-column: var(--layout-right);
    margin-right: auto;
  }

  .article-links__title {
    @include typography(sub-heading, $montserrat-font-stack);

    color: $color-blue;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .article-links__container {
    padding: 0;
  }

  .article-links__link {
    list-style: none;
    margin-bottom: 20px;

    @include landscape {
      margin-bottom: 5px;
    }

    .link {
      align-items: flex-start;
      display: flex;
      padding-left: 5px;

      @include mobile-only {
        text-decoration: underline;
      }
    }

    .link__icon {
      height: 24px;
      width: 24px;
    }
  }
}

.article-links {
  @include article-links;
}
