@mixin my-collection {
  background-color: $color-white;

  .my-collection__title {
    @include typography(heading-1, $replica-font-stack);

    color: $color-blue;
    grid-column: column 1 / span 12;
    margin-bottom: 40px;
    margin-top: 40px;
    text-transform: uppercase;
  }

  .my-collection__error {
    grid-column: column 1 / span 12;
  }

  .my-collection__subtitle {
    @include typography(heading-2, $replica-font-stack);

    color: $color-grey-extradark;
    grid-column: column 1 / span 12;
    margin-bottom: 40px;
  }

  .my-collection__download-button-wrapper {
    grid-column: column 1 / span 12;
    margin-bottom: 80px;
  }

  .my-collection__download-button {
    max-width: 250px;
    text-align: left;

    &::before {
      display: none;
    }
  }

  .my-collection__download-button-text {
    @include typography(caption, $replica-font-stack);

    margin-top: 10px;
  }

  .my-collection__results-item--in-view {
    opacity: 1;
    transition: opacity .5s ease 1s;
  }

  .my-collection__grid-container {
    @include grid-container;
  }

  .my-collection__results-search-term {
    font-weight: bold;
    text-transform: capitalize;
  }

  .my-collection__active-button {
    background-color: $color-blue;
    border-radius: 10px;
    color: $color-white;
    margin-left: 10px;
    padding: 0 10px;
  }

  .my-collection__results-active-filters {
    display: none;

    &.my-collection__results-active-filters--active {
      display: inline;
    }
  }

  .my-collection__grid-column,
  .my-collection__grid-column-tablet,
  .my-collection__grid-column-mobile {
    list-style: none;
    padding: 0;
  }

  .my-collection__grid-column {
    display: none;
    grid-column: auto / span 4;

    @include notebook {
      display: block;
    }

    &:nth-child(5) {
      padding-right: 40px;
    }

    &:nth-child(7) {
      padding: 0 40px;
    }
  }

  .my-collection__grid-column-tablet {
    display: none;
    grid-column: auto / span 6;

    &:nth-child(3) {
      padding-right: 20px;
    }

    @include landscape {
      display: block;
    }

    @include notebook {
      display: none;
    }
  }

  .my-collection__grid-column-mobile {
    grid-column: 1 / span 12;

    @include landscape {
      display: none;
    }
  }

  .my-collection__card {
    display: block;
  }

  .my-collection__card,
  .my-collection__object-card {
    margin-bottom: 40px;

    @include landscape {
      margin-bottom: 150px;
    }
  }
}

@mixin my-collection__filters {
  padding-bottom: 20px;
}

@mixin my-collection__information-container {
  grid-column: column 1 / span 12;
  margin-bottom: 40px;

  .my-collection__total-results {
    @include typography(sub-heading, $replica-font-stack);

    margin-bottom: 60px;
  }
}

.my-collection {
  @include my-collection;

  .my-collection__filters {
    @include my-collection__filters;
  }

  .my-collection__information-container {
    @include my-collection__information-container;
  }
}
