
{% import 'components/atoms/button/button.html' as atom_button %}
{% import 'components/molecules/card/card.html' as molecule_card %}
{% import 'components/molecules/object-card/object-card.html' as molecule_object_card %}

{% macro regular(id = '', collection = [], title = '', download = {}) %}
  {% set component = 'my-collection' %}
  <div {% if id %}id="{{ id }}"{% endif %} class="{{ component }}">
    <div class="{{ component }}__grid-container">
      <h1 class="{{ component }}__title">{{ title }}</h1>

      {% if download %}
        <div class="{{ component }}__download-button-wrapper">
          {{ atom_button.regular(classes = component + '__download-button', href = download.href, type = 'download', title = download.title, long_title = download.title, icon_before = 'custom/download-icon') }}
          <p class="{{ component }}__download-button-text">(ausgenommen Bilder mit eingeschränkten Rechten ⊗)</p>
        </div>
      {% endif %}

      <div class="{{ component }}__error"></div>

      <!-- MOBILE -->
      <ul class="{{ component }}__grid-column-mobile">
        <!-- filled in js -->
      </ul>

      <!-- TABLET -->

      <ul class="{{ component }}__grid-column-tablet">
        <!-- filled in js -->
      </ul>

      <ul class="{{ component }}__grid-column-tablet">
        <!-- filled in js -->
      </ul>

      <!-- DESKTOP -->

      <ul class="{{ component }}__grid-column">
        <!-- filled in js -->
      </ul>

      <ul class="{{ component }}__grid-column">
        <!-- filled in js -->
      </ul>

      <ul class="{{ component }}__grid-column">
        <!-- filled in js -->
      </ul>

    </div>
  </div>
{% endmacro%}
