DJANGO_DATABASE_URL=postgres://localhost/metahub
DJANGO_DEBUG=True
DJANGO_ADMIN_URL=^admin/
DJANGO_SECRET_KEY=CHANGE-ME-!@#$56789Dfghjkjawohlherrflick
DJANGO_CACHE_KEY_PREFIX=metahub-development
DJANGO_SETTINGS_MODULE=metahub.settings.development
DJANGO_ALLOWED_HOSTS=localhost,0.0.0.0,127.0.0.1,metahub.fabriquehq.nl,collection.metahub.de
DJANGO_SENTRY_DSN=
DJANGO_GOOGLE_TAG_MANAGER_ID=
DJANGO_MAILCHIMP_USERNAME=fabriquedevelopers
DJANGO_MAILCHIMP_API_KEY=
DJANGO_MAILCHIMP_LIST_ID=
DJANGO_ES_INDEX_NAME=es_index
