{% import 'components/atoms/picture/picture.html' as atom_picture %}
{% import 'components/atoms/link/link.html' as atom_link %}

{% macro regular(card = {}, title = '', classes = '', link = {}) %}
  {% set component = 'highlighted-card' %}
  <section class="{{ component }} {{ classes }} {{ card.theme_color }}">
    <div class="{{ component }}__grid">
      <div class="{{ component }}__inner">
        <h2 class="{{ component }}__title">{{ title }}</h2>
        <div class="{{ component }}__card-wrapper">
          <h2 class="{{ component }}__card-title">{{ card.title }}</h2>
          {{ atom_picture.regular(
            images = card.picture.images,
            fits = card.picture.fits,
            classes = component + '__card__picture',
            positions = card.picture.positions,
            width = card.picture.width,
            height = card.picture.height,
            loading = card.picture.loading,
            alt = card.picture.alt
          ) }}
          <div class="{{ component }}__card-content">
            <p class="{{ component }}__card-excerpt">{{ card.excerpt }}</p>
            {{ atom_link.regular(
              classes = component + '__card-link',
              href = card.link.href,
              title = card.link.title,
              target = card.link.target,
              icon_before = card.link.icon_before,
              icon_after = card.link.icon_after
            ) }}
          </div>
          <div class="{{ component }}__link-wrapper">
            {{ atom_link.regular(
              classes = component + '__link',
              href = link.href,
              title = link.title,
              target = link.target,
              icon_before = link.icon_before,
              icon_after = link.icon_after
            ) }}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endmacro %}
