{% import 'components/atoms/picture/picture.html' as atom_picture %}
{% import 'components/atoms/link/link.html' as atom_link %}

{% macro regular(card = {}, title = '', classes = '', link = {}, link_label = '', excerpt = '') %}
  {% set component = 'highlighted-card' %}
  <div class="{{ component }} {{ classes }} {{ card.theme_color }}">
    <div class="{{ component }}__grid">
      <div class="{{ component }}__inner">
        <h2 class="{{ component }}__title">{{ title }}</h2>
        <div class="{{ component }}__card-wrapper">
          <h2 class="{{ component }}__card-title">{{ card.title }}</h2>

          {% if card.picture.images and card.picture.images == 'placeholders' %}
            {# Image ratio: free (landscape 3:2 preferred) #}
            {{ object_replace_value( card.picture, 'images', 'placeholders', generate_placeholders({ mobile: '530x353', portrait: '530x353', landscape: '400x266', notebook: '590x394', desktop: '740x494' })) }}
          {% endif %}

          {{ atom_picture.regular(
            images = card.picture.images,
            fits = card.picture.fits,
            classes = component + '__card__picture',
            positions = card.picture.positions,
            width = card.picture.width,
            height = card.picture.height,
            loading = card.picture.loading,
            alt = card.picture.alt
          ) }}
          <div class="{{ component }}__card-content">
            <p class="{{ component }}__card-excerpt">{{ excerpt }}</p>

            {% if link_label and card.href %}
              {{ atom_link.regular(
                classes = component + '__card-link',
                href = card.href,
                title = link_label,
                icon_after = 'custom/arrow-right-icon'
              ) }}
            {% endif %}
          </div>
          <div class="{{ component }}__link-wrapper">
            {% if link.href and link.title %}
              {{ atom_link.regular(
                classes = component + '__link',
                href = link.href,
                title = link.title,
                target = link.target,
                icon_after = 'custom/arrow-right-icon'
              ) }}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}
