{% import 'components/atoms/picture/picture.html' as atom_picture %}

{% macro regular(id = '', align = 'default', picture = {}) %}
  <div class="hero-image">
    <div {% if id %}id="{{ id }}"{% endif %} class="article-photo article-photo--align-{{ align }}">
      <div class="hero-image__wrapper">
        {% if picture.images and picture.images == 'placeholders' %}
          {# Image ratio: free (landscape preferred) #}
          {{ object_replace_value(picture, 'images', 'placeholders', generate_placeholders({ mobile: '530x298', portrait: '800x450', landscape: '1180x664', notebook: '1480x832', desktop: '1920x1080' })) }}
        {% endif %}

        {{ atom_picture.regular(images = picture.images, fits = picture.fits, positions = picture.positions, width = picture.width, height = picture.height, loading = picture.loading, alt = picture.alt) }}
      </div>
    </div>
  </div>
{% endmacro %}
