{% import 'components/atoms/picture/picture.html' as atom_picture %}

{% macro regular(id = '', align = 'default', picture = {}) %}
  <div class="hero-image">
    <div {% if id %}id="{{ id }}"{% endif %} class="article-photo article-photo--align-{{ align }}">
      <div class="hero-image__wrapper">
        <!-- Image ratio: Original. Preferred: around 16:9 or 9:16 -->
        {{ atom_picture.regular(images = picture.images, fits = picture.fits, positions = picture.positions, width = picture.width, height = picture.height, loading = picture.loading, alt = picture.alt) }}
      </div>
    </div>
  </div>
{% endmacro %}
