{% import 'components/atoms/card/card.html' as atom_card %}
{% import 'components/atoms/link/link.html' as atom_link %}

{% macro story(cards = [], title = '', classes = '') %}
  <div class="js-relevant-cards relevant-stories {{ classes }}">
    <div class="relevant-stories__grid">
      <h2 class="js-relevant__title relevant-stories__title">{{ title }}</h2>
    </div>
    <div class="relevant-stories__grid">
      {% for card in cards %}
        <div class="relevant-stories__item">
          {{ atom_card.story(
            classes = card.classes,
            href = card.href,
            title = card.title,
            theme_color = card.theme_color,
            picture = card.picture,
            aria_label = card.aria_label,
            label = card.label
          ) }}
        </div>
      {% endfor %}
    </div>
  </div>
{% endmacro %}

{% macro object(cards = [], title = '', classes = '') %}
  <div class="js-relevant-cards relevant-objects {{ classes }}">
    <div class="relevant-objects__grid">
      <h2 class="js-relevant__title relevant-objects__title">
        <span class="relevant-objects__title--gradient">{{ title }}</span>
      </h2>
    </div>
    <div class="relevant-objects__grid">
      {% for card in cards %}
        <div class="relevant-objects__item">
          {{ atom_card.object(
            classes = card.classes,
            href = card.href,
            title = card.title,
            picture = card.picture,
            label = card.label,
            aria_label = card.aria_label,
            subtitle = card.subtitle
          ) }}
        </div>
      {% endfor %}
    </div>
  </div>
{% endmacro %}


{% macro news(cards = [], title = '', classes = '', link = {}) %}
  <div class="js-relevant-cards relevant-news {{ classes }}">
    <div>
      <div class="relevant-news__grid">
        <h2 class="js-relevant__title relevant-news__title">
          <span class="relevant-objects__title--gradient">{{ title }}</span>
        </h2>
      </div>
    </div>
    <div class="relevant-news__grid">
      {% for card in cards %}
        <div class="relevant-news__item">
          {{ atom_card.news(
            classes = card.classes,
            href = card.href,
            title = card.title,
            picture = card.picture,
            label = card.label,
            excerpt = card.excerpt,
            type = card.type,
            date = card.date,
            width = card.width,
            aria_label = card.aria_label,
            height = card.height
          ) }}
        </div>
      {% endfor %}
    </div>
    <div>
      <div class="relevant-news__grid">
        {{ atom_link.regular(
          classes = 'relevant-news__link',
          href = link.href,
          title = link.title,
          target = link.target,
          icon_before = link.icon_before,
          icon_after = link.icon_after
        ) }}
      </div>
    </div>
  </div>
{% endmacro %}
