.header {
  min-height: var(--header-height);
  padding-bottom: 15px;
  padding-top: 15px;

  @include grid-container;
}

.header__logo-wrapper {
  grid-column: auto / span 6;

  @include landscape {
    grid-column: auto / span 2;
  }
}

.header__menu-bar {
  grid-column: auto / span 6;

  @include landscape {
    grid-column: column 4 / span 9;
  }
}
