{% import 'components/atoms/logo/logo.html' as atom_logo %}
{% import 'components/structures/menu/menu.html' as menu %}

{% macro regular(has_logo = true, menu_items = [], languages = [], logo_href = '') %}
  <div class="header " role="banner">
    <div class="header__inner">

      {% if has_logo %}
        <div class="header__logo-wrapper">
          {{ atom_logo.random(logo_href = logo_href) }}
        </div>
      {% endif %}

      <div class="header__menu-bar {% if not has_logo %}header__menu-bar--no-logo{% endif %}">
        {{ menu.regular(
          menu_items = menu_items,
          languages = languages
        ) }}
      </div>
    </div>
  </div>
{% endmacro %}
