
@mixin profile {
  background: $color-grey-light;
  overflow: hidden;
  padding-bottom: 70px;
  position: relative;

  .profile__grid-container {
    @include grid-container;

    padding-top: 80px;

    @include landscape {
      padding-top: 50px;
    }
  }

  .profile__title,
  .profile__subtitle {
    color: $color-blue;
    grid-column: column 1 / span 12;
  }

  .profile__title {
    @include typography(heading-1, $montserrat-font-stack);

    margin-bottom: 30px;
    text-transform: uppercase;
  }

  .profile__subtitle {
    @include typography(sub-heading, $montserrat-font-stack);
  }

  .profile__picture-container {
    grid-column: column 1 / span 12;
    height: 100%;
    left: calc(var(--grid-gutter) * -1);
    margin-bottom: -45px;
    position: absolute;
    top: 0;
    //transform: translateY(0);
    width: calc(100% + (var(--grid-gutter) * 2));

    .picture {
      margin-bottom: -45px;
      opacity: 0;
      transform: translateY(20px);
      transition: opacity .2s ease, transform .3s ease .2s;
    }

    .profile__information-container {
      opacity: 0;
      transform: translateY(20px);
      transition: opacity .2s ease, transform .3s ease .2s;
    }

    &.profile__picture-container--active {
      .picture {
        opacity: 1;
        transform: translateY(0);
        transition: opacity .5s ease .5s, transform .3s ease .5s;
      }

      .profile__information-container {
        opacity: 1;
        transform: translateY(0);
        transition: opacity .5s ease .7s, transform .3s ease .7s;
      }
    }

    &:not(.profile__picture-container--active) {
      pointer-events: none;
    }

    .picture--background {
      position: relative;
    }

    @include landscape {
      //height: 425px;
      //left: 12%;
      //width: 650px;
    }

    @include notebook {
      //left: 25%;
    }
  }

  .profile__information-container {
    background: $color-blue;
    color: $color-white;
    left: var(--grid-gutter);
    padding: 20px;
    position: relative;
    //position: absolute;
    //right: -20px;
    //top: 80%;
    width: 100%;

    @include landscape {
      //bottom: -100px;
      //right: -50px;
      //top: unset;
      //width: 615px;
    }

    @include notebook {
      //right: -90px;
    }
  }

  .profile__information-title {
    @include typography(heading-2, $montserrat-font-stack);

    margin-bottom: 10px;
  }

  .profile__information-description {
    @include typography(link, $montserrat-font-stack);

    line-height: 24px;
    margin-bottom: 30px;
  }

  .profile__main-image {
    height: 100%;
    position: relative;
    width: 100%;
  }

  .profile__background-image .picture {
    @keyframes float {
      0% {
        transform: translateY(0%);
      }

      50% {
        transform: translateY(20px);
      }

      100% {
        transform: translateY(0%);
      }
    }

    position: absolute;
  }

  .profile__background-image--1 {
    @include landscape {
      transition: opacity .3s ease;

      &.profile__background-image--active {
        transition: opacity 1s ease .2s;
      }
    }
  }

  .profile__background-image--2 {
    @include landscape {
      transition: opacity .2s ease;

      &.profile__background-image--active {
        transition: opacity 1s ease .3s;
      }
    }
  }

  .profile__background-image--3 {
    @include landscape {
      transition: opacity .1s ease;

      &.profile__background-image--active {
        transition: opacity 1s ease .5s;
      }
    }
  }

  .profile__background-image--1,
  .profile__background-image--2,
  .profile__background-image--3 {
    display: none;

    @include landscape {
      display: inline;
      opacity: 0;

      &.profile__background-image--active {
        opacity: 1;
      }
    }

    .picture {
      filter: opacity(.3);
      position: absolute;
      width: 300px;
    }
  }

  .profile__background-image--1 .picture {
    animation: float 8s infinite;
    left: 10%;
    top: 55%;
  }

  .profile__background-image--2 .picture {
    animation: float 12s infinite .5s;
    left: 70%;
    top: 35%;
  }

  .profile__background-image--3 .picture {
    animation: float 10s infinite 1.5s;
    left: -5%;
    top: 30%;
  }

  .profile__refresh-button {
    @include typography(location, $montserrat-font-stack);

    align-items: center;
    bottom: -40px;
    color: $color-blue;
    display: flex;
    left: 0;
    margin-left: 0;
    position: absolute;
    transition: transform $easing-change;
    z-index: 0;

    .profile__refresh-icon {
      height: 30px;
      margin-right: 5px;
    }

    svg {
      height: 30px;
      width: 30px; // Quick fix
    }

    @include landscape {
      bottom: auto;
      left: auto;
      position: absolute;
      right: calc(-110px + (var(--grid-gutter) * -1));
      top: 0;
      width: 100px;
    }
  }

  .profile__refresh-text {
    text-align: justify;
    text-transform: uppercase;

    @include landscape {
      max-width: 60px;
    }
  }

  @include landscape {
    //height: calc(100vh - 50px);
    //min-height: 750px;
  }

  .profile__themes {
    grid-column: column 2 / span 10;
    margin-bottom: 70px;
    margin-top: 40px;
    padding-bottom: 56.25%; // 16:9
    position: relative;
    transition: margin-bottom $easing-change;

    @include landscape {
      grid-column: column 4 / span 6;
    }
  }

  .profile__title-words {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
  }

  .profile__title-word {
    display: none;
    opacity: 0;
    transition: opacity $easing-change;

    &.profile__title-word--animating-in {
      opacity: 1;
    }

    &.profile__title-word--animating-out {
      opacity: 0;
    }

    &.profile__title-word--visible {
      display: block;
    }
  }
}

.profile {
  @include profile;
}
