{% extends 'templates/_base.html' %}

{% import 'components/organisms/full-screen-logo/full-screen-logo.html' as organisms_full_screen_logo %}

{% block page_title %}Home{% endblock %}

{% block header_bar %}
  {{ header.regular(hasLogo = false) }}
{% endblock %}

{% block content %}

  {{ organisms_full_screen_logo.regular(
    theme_color = ['theme--purple', 'theme--blue', 'theme--pink', 'theme--magenta'] | random
  ) }}

  <section>
    hero text
  </section>

  <section>
    relevant objects
  </section>

  <section>
    highted story
  </section>

  <section>
    highted story
  </section>

  <section>
    latest news & events
  </section>
{% endblock %}

{% block footer %}
{% endblock %}
