{% extends 'templates/_base.html' %}

{% import 'components/organisms/search-header/search-header.html' as organisms_search_header %}
{% import 'components/organisms/profile/profile.html' as organisms_profile %}
{% import 'components/organisms/collection-highlights/collection-highlights.html' as organisms_collection_highlights %}
{% import 'components/organisms/card-grid/card-grid.html' as organism_card_grid %}
{% import 'components/structures/header/header.html' as header %}

{% block page_title %}Home{% endblock %}

{% block header %}
  {{ header.regular(hasLogo = false) }}
{% endblock %}

{% block content %}

{% endblock %}

{% block footer %}

{% endblock %}
