{% extends 'templates/_base.html' %}

{% import 'components/organisms/article-cookies/article-cookies.html' as organism_article_cookies %}
{% import 'components/organisms/article-content/article-content.html' as organism_article_content %}

{% block page_title %}Cookies{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
  {% call organism_article_content.regular(classes = component + '__text-content') %}
    <p>
      Wenn Havlin vor die Tür geht, fällt er auf. Dieser Anzug, dieser Bart. Viele sprechen ihn an. An manchen Tagen, sagt Havlin, brauche er von seiner Wohnung zur Synagoge doppelt so lange wie geplant.
      Wenn er vor Schulklassen steht, ist er oft der erste Jude, mit dem die Jugendlichen bewusst Kontakt haben. Jüdisches Leben, das ist immer noch etwas, das nicht selbstverständlich ist in Deutschland.
    </p>
  {% endcall %}

  {{ organism_article_cookies.regular() }}

  {% call organism_article_content.regular(classes = component + '__text-content') %}
    <p>
      Wenn Havlin vor die Tür geht, fällt er auf. Dieser Anzug, dieser Bart. Viele sprechen ihn an. An manchen Tagen, sagt Havlin, brauche er von seiner Wohnung zur Synagoge doppelt so lange wie geplant.
      Wenn er vor Schulklassen steht, ist er oft der erste Jude, mit dem die Jugendlichen bewusst Kontakt haben. Jüdisches Leben, das ist immer noch etwas, das nicht selbstverständlich ist in Deutschland.
    </p>
  {% endcall %}


{% endblock %}

{% block footer %}
{% endblock %}

{% block overlays %}
{% endblock %}
