{% macro regular(id = '', classes = '', quote = '', name = '') %}
  {% set component = 'quote-single' %}
  <blockquote {% if id %}id="{{ id }}"{% endif %} class="{{ component }}">
    <div class="{{ component }}__attribution">
      <span class="{{ component }}__mark-icon" aria-label="quotemarks-icon">{% include 'assets/icons/custom/ic-quote.svg' %}</span>
      <p class="{{ component }}__attribution-name" aria-label="author">{{ name }}</p>
    </div>
    <p class="{{ component }}__text" aria-label="quote">
      <span class="{{ component }}__text-span">{{ quote }}</span>
    </p>
  </blockquote>
{% endmacro %}
