{% import 'components/atoms/richtext/richtext.html' as atom_richtext %}
{% import 'components/atoms/figure/figure.html' as atom_figure %}
{% import 'components/atoms/link/link.html' as atom_link %}

{% macro regular(id = '', align = 'default', link = {}) %}
  <div class="text-and-link">
    <div class="text-and-link_grid">
      <div class="text-and-link__text">
        {% set child_context = caller() %}
        {% call atom_richtext.regular() %}
          {{ child_context }}
        {% endcall %}
      </div>
      <div class="text-and-link__link">
        {{ atom_link.regular(
          classes = link.classes,
          href = link.href,
          title = link.title,
          target = link.target,
          icon_before = link.icon_before,
          icon_after = link.icon_after
        ) }}
      </div>
    </div>
  </div>
{% endmacro %}
