.text-and-link {
  margin-bottom: var(--section-space);
}

.text-and-link_grid {
  @include grid-container;
}

.text-and-link__link {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  grid-column: column 2 / span 12;

  @include landscape {
    grid-column: column 9 / span 4;
  }
}

.text-and-link__text {
  grid-column: auto / span 12;

  @include landscape {
    grid-column: column 2 / span 6;
  }
}

.text-and-link__link .hero-link {
  margin-top: var(--section-space);
}
