
// Copy paste from Bourbon

$scale-minor-second: 1.067;
$scale-major-second: 1.125;
$scale-minor-third: 1.2;
$scale-major-third: 1.25;
$scale-perfect-fourth: 1.333;
$scale-augmented-fourth: 1.414;
$scale-perfect-fifth: 1.5;
$scale-minor-sixth: 1.6;
$scale-golden: 1.618;
$scale-major-sixth: 1.667;
$scale-minor-seventh: 1.778;
$scale-major-seventh: 1.875;
$scale-octave: 2;
$scale-major-tenth: 2.5;
$scale-major-eleventh: 2.667;
$scale-major-twelfth: 3;
$scale-double-octave: 4;
