{% import 'components/atoms/icon-button/icon-button.html' as atom_icon_button %}
{% import 'components/atoms/link/link.html' as atom_link %}
{% import 'components/atoms/picture/picture.html' as atom_picture %}

{% macro photo_series(items = [], close_button_title = 'Sluiten', overlay_aria_label = 'Menu venster') %}
  {% set component = 'lightbox' %}
  <div class="{{ component }} {{ component }}--photo-series {{ classes }}" role="dialog" aria-label="{{ overlay_aria_label }}">

    <div class="swiper-container">
      <ul class="swiper-wrapper">
        {% for item in items %}
          <li class="swiper-slide">
            <div class="panzoom-container">
              {{ atom_picture.background(images = item.picture.images, fits = { "mobile": "contain" }, positions = item.picture.positions, loading = item.picture.loading, width = item.picture.width, height = item.picture.height, alt = item.picture.alt) }}
            </div>
          </li>
        {% endfor %}
      </ul>

      <div class="swiper-navigation" role="swiper-controls">
        <div class="swiper-pagination"></div>

        <button class="swiper-button-prev swiper-button-prev" aria-label="scroll-left">
          {% include 'assets/icons/custom/ic-arrow-left.svg' %}
        </button>

        <button class="swiper-button-next swiper-button-next" aria-label="scroll-right">
        {% include 'assets/icons/custom/ic-arrow-right.svg' %}
        </button>
      </div>
    </div>

    <div class="{{ component }}__information-container">
      <div class="{{ component }}__information-grid">
        {% for info in items %}
          <div class="{{ component }}__information-wrapper" data-index="{{ loop.index - 1 }}">
            <h2 class="{{ component }}__information-title">
              {% if info.information.description|length > 0 or info.information.credits|length > 0 %}
                <span class="{{ component }}__toggle-arrow">{% include 'assets/icons/custom/chevron-up.svg' %}</span>
              {% endif %}
              {{ info.information.title }}{% if info.information.name %}, {{ info.information.name }}{% endif %}{% if info.information.date %}, {{ info.information.date }}{% endif %}
            </h2>
            {% if info.information.link %}{{ atom_link.regular(classes = component + "__details-link", href = info.information.link.href, title = info.information.link.title, target = info.information.link.target, icon_before = 'custom/ic-arrow-right') }}{% endif %}
            <p class="{{ component }}__information-description">{{ info.information.description }}</p>
            <p class="{{ component }}__information-credits">{{ info.information.credits }}</p>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="{{ component }}__controls-container">
      <button class="{{ component }}__button-close">{% include 'assets/icons/custom/ic_close.svg' %}</button>
      <button class="{{ component }}__button-zoom-in">{% include 'assets/icons/custom/ic_zoom_in.svg' %}</button>
      <button class="{{ component }}__button-zoom-out">{% include 'assets/icons/custom/ic_zoom_out.svg' %}</button>
    </div>
</div>
{% endmacro %}

{% import 'components/atoms/icon-button/icon-button.html' as atom_icon_button %}
{% import 'components/atoms/link/link.html' as atom_link %}
{% import 'components/atoms/picture/picture.html' as atom_picture %}

{% macro object_series(classes = '', items = [], close_button_title = 'Sluiten', overlay_aria_label = 'Menu venster') %}
  {% set component = 'lightbox' %}
  <div class="{{ component }} {{ component }}--object-series {{ classes }}" role="dialog" aria-label="{{ overlay_aria_label }}">

    <div class="swiper-container">
      <ul class="swiper-wrapper">
        {% for item in items %}
          <li class="swiper-slide">
            <div class="panzoom-container">
              {{ atom_picture.background(images = item.picture.images, fits = item.picture.fits, positions = item.picture.positions, loading = item.picture.loading, width = item.picture.width, height = item.picture.height, alt = item.picture.alt) }}
            </div>
          </li>
        {% endfor %}
      </ul>

      <div class="swiper-navigation" role="swiper-controls">
        <div class="swiper-pagination">
        </div>
        <button class="swiper-button-prev" aria-label="scroll-left">
          {% include 'assets/icons/custom/ic-arrow-left.svg' %}
        </button>
        <button class="swiper-button-next" aria-label="scroll-right">
        {% include 'assets/icons/custom/ic-arrow-right.svg' %}
        </button>
      </div>
    </div>

    <div class="{{ component }}__information-container">
      <div class="{{ component }}__information-grid">
        <button class="{{ component }}__info-button">
          <span class="info-icon">{% include 'assets/icons/custom/ic_info.svg' %}</span>
          <span class="close-info-icon">{% include 'assets/icons/custom/ic_close_info.svg' %}</span>
        </button>
        {% for info in items %}
          <div class="{{ component }}__information-wrapper" data-index="{{ loop.index - 1 }}">
            <h3 class="{{ component }}__information-title"><span class="title-bold" >{{ info.information.title }},</span> {{ info.information.name }}, {{ info.information.date }}</h3>
            {% if info.information.link %}{{ atom_link.regular(classes = component + "__details-link", href = info.information.link.href, title = info.information.link.title, target = info.information.link.target, icon_before = 'custom/ic-arrow-right') }}{% endif %}
            <p class="{{ component }}__information-description">{{ info.information.description }}</p>
            <p class="{{ component }}__information-credits">{{ info.information.credits }}</p>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="{{ component }}__controls-container">
      <button class="{{ component }}__button-close">{% include 'assets/icons/custom/ic_close.svg' %}</button>
      <button class="{{ component }}__button-zoom-in">{% include 'assets/icons/custom/ic_zoom_in.svg' %}</button>
      <button class="{{ component }}__button-zoom-out">{% include 'assets/icons/custom/ic_zoom_out.svg' %}</button>
    </div>
</div>
{% endmacro %}
