
.number-button {
  font-family: $montserrat-font-stack;
  font-size: 16px;
  font-weight: #{get-montserrat-weight(bold)};
  line-height: 18px;

  @include landscape {
    font-size: 18px;
    line-height: 22px;
  }
}

.number-button--default {
  //
}

.number-button__title {
  color: var(--theme-color);

  @include landscape {
    padding: 0 8px;
  }
}

.number-button__icon {
  color: var(--theme-color);
  display: block;

  svg {
    vertical-align: sub;
    width: 24px;
  }
}

.number-button--clean {
  --number-button-spacing: 20px;

  @include landscape {
    --number-button-spacing: 100px;
  }

  &.number-button--next {
    margin-left: var(--number-button-spacing);
  }

  &.number-button--previous {
    margin-right: var(--number-button-spacing);
  }
}
