
.option-field {
  position: relative;

  .option-field__label {
    @include typography(field-label, $replica-font-stack, false, true, false);

    cursor: pointer;
    display: block;
    line-height: 32px;
    margin: 8px 0;
    user-select: none;
  }

  .option-field__wrapper {
    display: block;
    font-size: 0;
    max-width: 100%;
    position: relative;
  }

  .option-field__item {
    @include typography(body-text, $replica-font-stack, false, true);

    display: block;
  }

  .option-field__input {
    float: left;
    height: 0;
    margin-left: -150vw;
    width: 0;

    &:not(:disabled):not(:checked) {
      + .option-field__input-label:hover {
        .option-field__icon-background {
          background-color: $color-grey-extralight;
        }
      }
    }

    &:disabled {
      + .option-field__input-label {
        opacity: .4;
        pointer-events: none;
      }
    }

    &:checked {
      + .option-field__input-label {
        .option-field__icon-foreground {
          opacity: 1;
        }
      }
    }
  }

  .option-field__input-label {
    @include typography(caption, $replica-font-stack);

    cursor: pointer;
    display: block;
    font-weight: bold;
    margin: 0;
    min-height: var(--caption-line-height);
    padding: 3px 0 8px 40px;
    position: relative;
    text-transform: none;
    user-select: none;
    width: 100%;

    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .option-field__input-label-span {
    display: inline-block;
    vertical-align: baseline;
  }

  .option-field__icon {
    color: $color-grey-extradark;
    display: block;
    height: 24px;
    left: 0;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 0;
    transition: opacity $easing-change-faster, background-color $easing-change-faster, color $easing-change-faster;
    width: 24px;
  }

  .option-field__icon-background {
    opacity: 1;
  }

  .option-field__icon-foreground {
    opacity: 0;
  }

  &.option-field--required {
    .option-field__label {
      &::after {
        content: '*';
        display: inline-block;
        margin-left: .25em;
      }
    }
  }

  &:not(.option-field--required) {
    .option-field__label {
      &::after {
        content: '';
        display: inline-block;
        margin-left: .25em;
      }
    }
  }

  &.option-field--error {
    .option-field__error {
      @include typography(caption, $replica-font-stack);

      color: $color-error;
      display: inline-block;
      max-width: 100%;
      width: auto;
    }

    .option-field__input {
      border-color: $color-error;
    }
  }

  &.option-field--inline {
    .option-field__item {
      display: inline-block;
      margin-right: 20px;
      width: auto;
    }
  }

  &.option-field--radio {
    .option-field__icon-background {
      border-radius: 50%;
      overflow: hidden;
    }
  }

  &.option-field--checkbox {
    //
  }
}
