{% import 'components/molecules/object-card/object-card.html' as molecule_object_card %}
{% import 'components/atoms/button/button.html' as atom_button %}

{% macro regular(id = '', classes = '', title = '', series_cards = [], remaining = '', total='', all_objects_url='/') %}
  {% set component = 'object-series' %}

  <div {% if id %}id="{{ id }}"{% endif %} class="{{ component }} {{ classes }}">
    <div class="{{ component }}__cards-wrapper">
      <h3 class="{{ component }}__title">{{ title }}</h3>
      <div class="{{ component }}__cards">
        {% if series_cards|length > 1 %}
          <div class="{{ component }}__column">
            {% for object in series_cards %}
              {% if loop.index % 2 == 0 %}
                {{ molecule_object_card.regular(
                  classes = component + '__object-card',
                  title = object.title,
                  name = object.name,
                  type = object.type,
                  date = object.date,
                  picture = object.picture,
                  href = object.href
                ) }}
              {% endif %}
            {% endfor %}
          </div>
          <div class="{{ component }}__column">
            {% for object in series_cards %}
              {% if loop.index % 2 == 1 %}
                {{ molecule_object_card.regular(
                  classes = component + '__object-card',
                  title = object.title,
                  name = object.name,
                  type = object.type,
                  date = object.date,
                  picture = object.picture,
                  href = object.href
                ) }}
              {% endif %}
            {% endfor %}
          </div>
        {% else %}
          <div class="{{ component }}__column">
            {% for object in series_cards %}
              {{ molecule_object_card.regular(
                classes = component + '__object-card',
                title = object.title,
                name = object.name,
                type = object.type,
                date = object.date,
                picture = object.picture,
                href = object.href
              ) }}
            {% endfor %}
          </div>
        {% endif %}
      </div>
    {% if remaining %}
        {{ atom_button.regular(
          classes = component + '__button',
          long_title = remaining,
          title = total,
          icon_after = 'custom/ic-arrow-right',
          href = all_objects_url
        ) }}
    {% endif %}
    </div>
  </div>
{% endmacro %}
