@mixin object-series {
  contain: content;
  margin: var(--margin-lg) 0 80px;
  position: relative;

  @include grid-container;

  .object-series__cards-wrapper {
    grid-column: var(--layout-right);
  }

  .object-series__cards {
    display: flex;
    flex-wrap: wrap;
  }

  .object-series__column {
    display: inline-flex;
    flex-direction: column;
    width: 100%;

    @include landscape {
      width: calc(50% - 13px);

      &:not(:last-child) {
        margin-right: 25px;
      }
    }
  }

  .object-series__title {
    @include typography(sub-heading, $montserrat-font-stack);

    color: $color-blue;
    font-weight: bold;
    grid-column-end: span 12;
    margin-bottom: 10px;

    @include landscape {
      color: $color-grey-extradark;
    }
  }

  .object-series__button {
    margin-top: 50px;
  }
}

@mixin object-series__object-card {
  display: inline-block;
  margin-bottom: 40px;

  @include landscape {
    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }

  @include landscape {
    margin-bottom: 50px;
  }
}

.object-series {
  @include object-series;

  .object-series__object-card {
    @include object-series__object-card;
  }
}
