
.home-content {
  @include viewHeight;

  padding: var(--section-space) 0;
}

.home-content__grid {
  @include grid-container;
}

.home-content__wrapper {
  grid-column: column 1 / span 12;
}

.home-content__richtext {
  p {
    @include typography(introduction);

    color: var(--theme-color);
  }
}
