{% import 'components/atoms/button/button.html' as atom_button %}
{% import 'components/atoms/icon-button/icon-button.html' as atom_icon_button %}
{% import 'components/atoms/share-button/share-button.html' as atom_share_button %}

{% macro regular(classes = '', direction = 'horizontal', title = '', buttons = [], icon_buttons = [], share_buttons = []) %}
  <div class="button-list button-list--{{ direction }} {{ classes }}">
    {% if title %}
      <p class="button-list__title">{{ title }}</p>
    {% endif %}

    {% if buttons.length %}
      <div class="button-list__buttons">
        {% for button in buttons %}
          {% if button.type %}
            {{ atom_button.button(variant = button.variant, href = button.href, title = button.title, target = button.target, disabled = button.disabled, selected = button.selected, icon_before = button.icon_before, icon_after = button.icon_after, long_title = button.long_title, type = button.type) }}
          {% else %}
            {{ atom_button.regular(variant = button.variant, href = button.href, title = button.title, target = button.target, disabled = button.disabled, selected = button.selected, icon_before = button.icon_before, icon_after = button.icon_after, long_title = button.long_title) }}
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}

    {% if icon_buttons.length %}
      <div class="button-list__buttons">
        {% for icon_button in icon_buttons %}
          {% if icon_button.type %}
            {{ atom_icon_button.button(href = icon_button.href, title = icon_button.title, target = icon_button.target, icon = icon_button.icon, type = icon_button.type) }}
          {% else %}
            {{ atom_icon_button.regular(href = icon_button.href, title = icon_button.title, target = icon_button.target, icon = icon_button.icon_before) }}
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}

    {% if share_buttons.length %}
      <div class="button-list__buttons">
        {% for share_button in share_buttons %}
          {{ atom_share_button.regular(type = share_button.type, title = share_button.title, share_url = share_button.share_url, share_text = share_button.share_text, share_image_url = share_button.share_image_url, share_subject = share_button.share_subject) }}
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endmacro %}
