
{% import 'components/atoms/richtext/richtext.html' as atom_richtext %}

{% macro regular(classes = '', title = '', simple_richtext = '') %}
  {% set slug = slugify(title) %}
  {% set content_id = 'disclosure--' + slug %}
  {% set button_id = content_id + '--button' %}

  <div class="disclosure {{ classes }}">
    <h3 class="disclosure__title">
      <button id="{{ button_id }}" class="disclosure__title-button" aria-controls="{{ content_id }}" aria-expanded="false">
        <span class="disclosure__title-button-span">{{ title }}</span>

        <span class="disclosure__title-button-icon">
          {% include 'assets/icons/custom/chevron-down.svg' %}
        </span>
      </button>
    </h3>

    <div id="{{ content_id }}" class="disclosure__content-container" role="region" aria-labelledby="{{ link_id }}" aria-hidden="true">
      <div class="disclosure__content">
        {% call atom_richtext.simple() %}
          {{ simple_richtext|safe }}
        {% endcall %}
      </div>
    </div>
  </div>
{% endmacro %}
