{% import 'components/atoms/button/button.html' as atom_button %}

{% macro regular(title = '', text='', button={}) %}
  <div class="highlight">
    <div class="highlight__grid">
      <div class="highlight__wrapper">

        {% if title %}
          <h3 class="highlight__title">{{ title }}</h3>
        {% endif %}

        {% if text %}
          <p class="highlight__text"> {{ text }} </p>
        {% endif %}

        {% if button %}
          <div class="highlight__button">
            {{ atom_button.regular(variant = button.variant, title = button.title, href = button.href, target = button.target, icon_before = button.icon_before, icon_after = button.icon_after, long_title = button.long_title) }}
          </div>
        {% endif %}

      </div>
    </div>
  </div>
{% endmacro %}
