{% import 'components/molecules/card/card.html' as molecule_card %}

{% macro regular(id = '', title_1 = '', title_2 = '', cards = []) %}
{% set component = 'context-cards' %}
  <div {% if id %}id="{{ id }}"{% endif %} class="{{ component }}">
    <div class="{{ component }}__grid-container">
      <h2 class="{{ component }}__title">
        <span class="{{ component }}__title-top">{{ title_1 }}</span>
        <span class="{{ component }}__title-bottom">{{ title_2 }}</span>
      </h2>
      {% for card in cards %}
        {{ molecule_card.regular(classes = component + "__card", href = card.href, target = card.target, title = card.title, type = card.type, picture = card.picture, color=card.color) }}
      {% endfor %}
    </div>
  </div>
{% endmacro %}

