@mixin context-cards {
  background-color: $color-grey-light;

  .context-cards__grid-container {
    @include grid-container;

    display: none;

    @include landscape {
      display: grid;
      padding-bottom: 60px;
      padding-top: 30px;
    }
  }

  .context-cards__title {
    color: $color-white;
    display: inline-block;
    display: flex;
    flex-direction: column;
    grid-column: column 1 / span 12;
    margin-bottom: 20px;
    text-transform: uppercase;

    @include typography(sub-heading, $replica-font-stack);

    .context-cards__title-top,
    .context-cards__title-bottom {
      background-color: $color-blue;
      display: inline-block;
      margin-right: auto;
      padding: 0 10px;
    }

    .context-cards__title-bottom {
      margin-top: -5px;
    }
  }

  .context-cards__card {
    grid-column: auto / span 4;
  }
}

.context-cards {
  @include context-cards;
}
