{% import 'components/molecules/object-card/object-card.html' as molecule_object_card %}

{% macro regular(id = '', classes = '', title = '', related_objects = []) %}
  {% set component = 'related-objects' %}
  <div {% if id %}id="{{ id }}"{% endif %} class="{{ component }} {{ classes }}">

    <div class="{{ component }}__cards">
      <div class="{{ component }}__title-wrapper">
        <h2 class="{{ component }}__title">{{ title }}</h2>
      </div>
      <div class="{{ component }}__grid">
        {% for object in related_objects %}
          {{ molecule_object_card.regular(
            classes = component + '__object-card',
            title = object.title,
            name = object.name,
            type = object.type,
            date = object.date,
            picture = object.picture,
            href = object.href
          ) }}
        {% endfor %}
      </div>
    </div>

    <div class="{{ component }}__slideshow">

      <h2 class="{{ component }}__title">{{ title }}</h2>

      <div class="swiper-container">
        <ul class="swiper-wrapper">
          {% for object in related_objects %}
            <li class="swiper-slide">
              {{ molecule_object_card.regular(
                classes = component + '__object-card',
                title = object.title,
                name = object.name,
                type = object.type,
                date = object.date,
                picture = object.picture,
                href = object.href
              ) }}
            </li>
          {% endfor %}
        </ul>
        <div class="swiper-navigation" role="swiper-controls">
          <div class="swiper-pagination">
          </div>
          <button class="swiper-button-prev" aria-label="scroll-left">
            {% include 'assets/icons/custom/ic-arrow-left.svg' %}
          </button>
          <button class="swiper-button-next" aria-label="scroll-right">
          {% include 'assets/icons/custom/ic-arrow-right.svg' %}
          </button>
        </div>
      </div>
    </div>

  </div>
{% endmacro %}
