
{% import 'components/atoms/link/link.html' as atom_link %}

{% macro regular(id = '', title = 'Cookie-Einstellungen', text = 'Ändern Sie hier Ihre Cookie-Einstellungen. Sie können auswählen, welche Kategorien von Cookies Sie (nicht) zulassen möchten.', button_change_text = 'Einstellungen anpassen', button_clear_text = 'Cookies Löschen') %}
  <div {% if id %}id="{{ id }}"{% endif %} class="article-cookies">
    <div class="article-cookies__grid">
      <div class="article-cookies__wrapper">
        {% if title %}
          <h2 class="article-cookies__title">{{ title }}</h2>
        {% endif %}

        {% if text %}
          <p class="article-cookies__text">{{ text }}</p>
        {% endif %}

        <div class="article-cookies__buttons">
          {{ atom_link.span(classes = 'link--change', href = '#cookie-bar__details', title = button_change_text, long_title = button_change_text) }}
          {{ atom_link.span(classes = 'link--clear', href = '#cookie-bar', title = button_clear_text, long_title = button_clear_text) }}
        </div>
      </div>
    </div>
  </div>
{% endmacro %}
