
@mixin card-grid {
  contain: content;
  position: relative;

  .card-grid__grid {
    @include grid-container;
  }

  .card-grid__title {
    @include typography(heading-1, $montserrat-font-stack);

    color: $color-blue;
    font-weight: bold;
    grid-column: column 1 / span 12;
    margin-bottom: 50px;
    max-width: 80%;
    overflow-wrap: break-word;
    text-transform: uppercase;
  }

  .card-grid__card {
    grid-column: column 1 / span 12;
    margin-bottom: 40px;

    @include landscape {
      grid-column: auto / span 3;
      margin-bottom: 100px;
    }

    .card-grid__picture {
      height: 200px;
      margin-bottom: 20px;
      position: relative;
      width: 100%;

      @include landscape {
        margin-bottom: 30px;
      }
    }
  }

  .card-grid__card-title {
    @include typography(heading-2, $montserrat-font-stack);

    color: $color-blue;
  }

  .card-grid__card-description {
    @include typography(body-text, $lora-font-stack);

    color: $color-grey-dark;
  }
}

.card-grid {
  @include card-grid;
}
