
{% import 'components/atoms/picture/picture.html' as atom_picture %}

{% macro regular(id = '', classes = '', title = '', cards = []) %}
  {% set component = 'card-grid' %}
  <div {% if id %}id="{{ id }}"{% endif %} class="{{ component }}">
    <div class="{{ component }}__grid">
      <h2 class="{{ component }}__title">{{ title }}</h2>
      {% for card in cards %}
        <a href="{{ card.href }}" target="{{ card.target }}" class="{{ component }}__card">
          <div class="{{ component }}__picture">
            {{ atom_picture.background(
              images = card.image.images,
              positions = card.image.positions,
              alt = card.image.alt_text
            )}}
          </div>

          <h5 class="{{ component }}__card-title">{{ card.title }}</h5>
          <p class="{{ component }}__card-description">{{ card.description }}</p>
        </a>
      {% endfor %}
    </div>
  </div>
{% endmacro %}
