.object-detail {
  @include grid-container;

  margin-bottom: var(--section-space);
}

.object-detail__main {
  grid-column: column 1 / span 12;
  order: 2;

  @include landscape {
    grid-column: column 1 / span 8;
    order: 1;
  }
}

.object-detail__aside {
  grid-column: column 2 / span 12;
  order: 1;
  padding-top: var(--section-space);
  position: relative;

  @include landscape {
    grid-column: column 9 / span 4;
    order: 2;
  }
}

.object-detail__intro {
  align-items: flex-end;
  display: flex;
  margin-top: -30px;
  position: relative;
  z-index: 2;

  @include landscape {
    margin-bottom: var(--section-space);
    margin-top: 0;
    min-height: calc(100vh - var(--header-height));
  }
}

.object-detail__intro__title {
  @include typography(heading-1, $montserrat-font-stack, false, false, false);

  color: var(--theme-color);
}

.object-detail__intro__subtitle {
  @include typography(heading-3, $montserrat-font-stack, true, true, false);

  color: var(--theme-color);
}
