
@mixin article-video {
  contain: content;
  margin: var(--margin-lg) 0 0 0;
  position: relative;

  .video {
    margin-bottom: 5px;
  }

  .article-video__grid {
    @include grid-container;
  }

  .article-video__wrapper {
    grid-column: column 1 / span 12;

    @include landscape {
      grid-column: column 7 / span 3;
    }
  }

  .article-video__caption {
    @include typography(sub-heading, $montserrat-font-stack);

    color: $color-blue;
  }

  .article-video__link {
    .link__icon {
      vertical-align: baseline;
      width: auto;
    }
  }
}

.article-video {
  @include article-video;
}
