{% import 'components/atoms/link/link.html' as atom_link %}
{% import 'components/atoms/video/video.html' as atom_video %}

{% macro regular(id = '', classes = '', video = {}) %}
  {% set component = 'article-video' %}
  <div {% if id %}id="{{ id }}"{% endif %} class="{{ component }}">
    <div class="{{ component }}__grid">
      <div class="{{ component }}__wrapper">
        {{ atom_video.regular( sources = video.sources, options = {}) }}
        {% if video.caption %}
          <figcaption class="{{ component }}__caption">{{ video.duration }}m -  {{ video.caption }}</figcaption>
        {% endif %}
        {% if video.link %}
          {{ atom_link.regular( classes = component + "__link", title = video.link.title, href = video.link.href, target = video.link.target, icon_before = 'custom/link-arrow') }}
        {% endif %}
      </div>
    </div>
  </div>
{% endmacro %}
