
// Layouts

:root {
  --layout-content: column 1 / span 12;
  --layout-full: column 1 / span 12;
  --layout-center: column 1 / span 12;
  --layout-left: column 1 / span 12;
  --layout-right: column 1 / span 12;
  --layout-half: span 6;

  @include landscape {
    --layout-content: column 1 / span 10;
    --layout-center: column 2 / span 10;
    --layout-left: column 1 / span 6;
    --layout-right: column 7 / span 6;
  }

  @include notebook {
    --layout-content: column 1 / span 8;
    --layout-center: column 3 / span 8;
  }
}
