@mixin setThemeColorsByClass() {
  &.theme--blue {
    --theme-color: var(--color-blue);
  }

  &.theme--purple {
    --theme-color: var(--color-purple);
  }

  &.theme--pink {
    --theme-color: var(--color-pink);
  }

  &.theme--magenta {
    --theme-color: var(--color-magenta);
  }
}

@mixin viewHeight($min-header-height: false) {
  @if not ($min-header-height) {
    height: 100vh;
  }

  @if ($min-header-height) {
    height: calc(100vh - var(--header-height));
  }
}
