@mixin setThemeColorsByClass() {
  &.theme--blue {
    --theme-color: var(--color-blue);
  }

  &.theme--purple {
    --theme-color: var(--color-purple);
  }

  &.theme--pink {
    --theme-color: var(--color-pink);
  }

  &.theme--magenta {
    --theme-color: var(--color-magenta);
  }
}
