@mixin search-input-text-styling() {
  color: var(--theme-color);
  font-family: $montserrat-font-stack;
  font-size: 18px;
}

.explore-intro {
  margin-bottom: var(--section-space);
}

.explore-intro__grid {
  @include grid-container;
}

.explore-intro__title {
  @include typography(heading-1, true, true, false);

  color: var(--theme-color);
  grid-column: auto / span 12;
}

.explore-intro__search-wrapper {
  grid-column: auto / span 12;

  @include subgrid-container;
}

.explore-intro__search-input {
  border: 2px solid transparent;
  border-bottom-color: var(--theme-color);
  box-sizing: border-box;
  grid-column: auto / span 8;
  padding: 5px 0;
  width: 100%;

  @include search-input-text-styling;

  &::placeholder {
    @include search-input-text-styling;
  }

  &:focus {
    border: 2px solid var(--theme-color);
    outline: none;
  }

  @include landscape {
    grid-column: auto / span 7;
  }
}

.explore-intro__search-button-wrapper {
  align-items: flex-end;
  display: flex;
  grid-column: auto / span 4;

  @include landscape {
    grid-column: auto / span 5;
  }
}

.explore-intro__search-button {
  align-items: center;
  color: var(--theme-color);
  display: flex;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.explore-intro__filter-wrapper {
  grid-column: auto / span 12;
  padding-bottom: 50px;
  padding-top: 20px;
}

.explore-intro__filter {
  color: var(--theme-color);
  font-size: 22px;
  line-height: 30px;
  margin-right: 10px;

  @include landscape {
    font-size: 46px;
    line-height: 55px;
  }
}

.explore-intro__filter--active {
  .link__span {
    border-bottom: 2px solid var(--theme-color);
  }
}
