{% import 'components/atoms/link/link.html' as atom_link %}

{% macro regular(
  id = '',
  classes = '',
  title = '',
  search_button_title = '',
  search_button_icon = '',
  main_filters = {}
) %}
  {% set component = 'explore-intro' %}
  <section {% if id %}id="{{ id }}"{% endif %} class="{{ component }} {{ classes }}">
    <div class="{{ component }}__grid">
      <h1 class="{{ component }}__title">{{ title }}</h1>
      <form class="{{ component }}__search-wrapper">
        <input class="{{ component }}__search-input" type="text" placeholder="Search here" />
        <div class="{{ component }}__search-button-wrapper">
          {{ atom_link.button(classes =  component + '__search-button', title = search_button_title, icon_after = search_button_icon) }}
        </div>
      </form>
      <div class="{{ component }}__filter-wrapper">
        {{ atom_link.regular(classes =  component + '__filter ' + main_filters.all.active, href = '?', title = main_filters.all.title) }}
        {{ atom_link.regular(classes =  component + '__filter ' + main_filters.all.active, href = main_filters.objects.querystring, title = main_filters.objects.title) }}
        {{ atom_link.regular(classes =  component + '__filter ' + main_filters.all.active, href = main_filters.stories.querystring, title = main_filters.stories.title) }}
      </div>
    </div>
  </section>
{% endmacro %}
