{% import 'components/atoms/richtext/richtext.html' as atom_richtext %}

{% macro regular(id = '') %}
  {% set component = 'article-content' %}
  <div {% if id %}id="{{ id }}"{% endif %} class="article-content">
    <div class="{{ component }}__grid">
      <div class="{{ component }}__wrapper">
        {# Allowed tags: <h2>, <h3>, <h4>, <h5>, <h6>, <ul>, <ol>, <li>, <p>, <a> #}
        {% set child_context = caller() %}
        {% call atom_richtext.regular() %}
          {{ child_context }}
        {% endcall %}
      </div>
    </div>
  </div>
{% endmacro %}
