{% extends 'templates/_base.html' %}

{% import 'components/organisms/news-list-intro/news-list-intro.html' as organisms_news_list_intro %}
{% import 'components/organisms/explore-cards/explore-cards.html' as organisms_explore_cards %}
{% import 'components/molecules/pagination/pagination.html' as molecules_pagination %}

{% block page_title %}Explore{% endblock %}



{% block content %}

  {{ organisms_news_list_intro.regular(
    title = 'News & events',
    post = {
      title: 'Guided Tours in FrankfurT',
      date: '11 April, 2021',
      excerpt: 'Story description. Donec id elit non mi porta gravida at eget metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam',
      link: {
        href: '?',
        title: 'Read more',
        target: '_blank',
        icon_after: 'custom/arrow-right-icon'
      },
      picture: {
        images: { mobile: '/static/media/unsplash/landscape/stephen-arnold.jpg' },
        positions: { mobile: '50% 50%' },
        fits: { mobile: 'cover' },
        width: 700
      }
    }
  ) }}


  {{ organisms_explore_cards.regular(
    cards = [
      {
        picture: {
          images: { mobile: '/static/media/unsplash/landscape/stephen-arnold.jpg' },
          positions: { mobile: '50% 50%' },
          fits: { mobile: 'cover' },
          width: 430
        },
        title: 'THE LUDWIG MEIDNER ARCHIVE',
        subtitle: 'Kurt de Jong, Flasche, 2007',
        type: 'object',
        label: 'Object'
      },
      {

        picture: {
          images: { mobile: '/static/media/unsplash/cropped/highlight-1.jpg' },
          positions: { mobile: '50% 50%' },
          fits: { mobile: 'cover' },
          width: 430
        },

        title: 'Prince Jussuf von Thebes',
        subtitle: 'Silberwarenfabrik Adolf G. Meyer Becher, 1926',
        type: 'object',
        label: 'Object'
      },
      {

        picture: {
          images: { mobile: '/static/media/unsplash/landscape/averie-woodard.jpg' },
          positions: { mobile: '50% 50%' },
          fits: { mobile: 'cover' },
          width: 430
        },

        title: 'Collection of Everyday Object',
        subtitle: 'Ida ritter, painting, Berlin 1920-1935',
        type: 'object',
        label: 'Object'
      },
      {
        picture: {
          images: { mobile: '/static/media/unsplash/landscape/stephen-arnold.jpg' },
          positions: { mobile: '50% 50%' },
          fits: { mobile: 'cover' },
          width: 430
        },
        title: 'THE LUDWIG MEIDNER ARCHIVE',
        subtitle: 'Jakob Nussbaum Gemälde, 1926',
        type: 'object',
        label: 'Object'
      },
      {
        picture: {
          images: { mobile: '/static/media/unsplash/cropped/highlight-1.jpg' },
          positions: { mobile: '50% 50%' },
          fits: { mobile: 'cover' },
          width: 430
        },
        title: 'Prince Jussuf von Thebes',
        subtitle: 'Ed. 54/100, Dan Givon',
        type: 'object',
        label: 'Object'
      },
      {

        picture: {
          images: { mobile: '/static/media/unsplash/landscape/averie-woodard.jpg' },
          positions: { mobile: '50% 50%' },
          fits: { mobile: 'cover' },
          width: 430
        },

        title: 'Collection of Everyday Object',
        theme_color: 'theme--magenta',
        type: 'story',
        label: 'Story'
      },
      {

        picture: {
          images: { mobile: '/static/media/unsplash/landscape/averie-woodard.jpg' },
          positions: { mobile: '50% 50%' },
          fits: { mobile: 'cover' },
          width: 430
        },

        title: 'Collection of Everyday Object',
        theme_color: 'theme--magenta',
        type: 'story',
        label: 'Story'
      },
      {

        picture: {
          images: { mobile: '/static/media/unsplash/landscape/stephen-arnold.jpg' },
          positions: { mobile: '50% 50%' },
          fits: { mobile: 'cover' },
          width: 430
        },

        title: 'THE LUDWIG MEIDNER ARCHIVE',
        subtitle: 'Kurt de Jong, Flasche, 2007',
        type: 'object',
        label: 'Object'
      },
      {

        picture: {
          images: { mobile: '/static/media/unsplash/cropped/highlight-1.jpg' },
          positions: { mobile: '50% 50%' },
          fits: { mobile: 'cover' },
          width: 430
        },

        title: 'Prince Jussuf von Thebes',
        subtitle: 'Silberwarenfabrik Adolf G. Meyer Becher, 1926',
        type: 'object',
        label: 'Object'
      },
      {
        picture: {
          images: { mobile: '/static/media/unsplash/landscape/averie-woodard.jpg' },
          positions: { mobile: '50% 50%' },
          fits: { mobile: 'cover' },
          width: 430
        },
        title: 'Collection of Everyday Object',
        subtitle: 'Ida ritter, painting, Berlin 1920-1935',
        type: 'object',
        label: 'Object'
      },
      {
        picture: {
          images: { mobile: '/static/media/unsplash/landscape/stephen-arnold.jpg' },
          positions: { mobile: '50% 50%' },
          fits: { mobile: 'cover' },
          width: 430
        },
        title: 'THE LUDWIG MEIDNER ARCHIVE',
        subtitle: 'Jakob Nussbaum Gemälde, 1926',
        type: 'object',
        label: 'Object'
      },
      {
        picture: {
          images: { mobile: '/static/media/unsplash/cropped/highlight-1.jpg' },
          positions: { mobile: '50% 50%' },
          fits: { mobile: 'cover' },
          width: 430
        },
        title: 'Prince Jussuf von Thebes',
        subtitle: 'Ed. 54/100, Dan Givon',
        type: 'object',
        label: 'Object'
      },
      {
        picture: {
          images: { mobile: '/static/media/unsplash/landscape/averie-woodard.jpg' },
          positions: { mobile: '50% 50%' },
          fits: { mobile: 'cover' },
          width: 430
        },
        title: 'Collection of Everyday Object',
        theme_color: 'theme--magenta',
        type: 'story',
        label: 'Story'
      },
      {
        picture: {
          images: { mobile: '/static/media/unsplash/landscape/averie-woodard.jpg' },
          positions: { mobile: '50% 50%' },
          fits: { mobile: 'cover' },
          width: 430
        },
        title: 'Collection of Everyday Object',
        theme_color: 'theme--magenta',
        type: 'story',
        label: 'Story'
      }
    ]
  ) }}

  {{ molecules_pagination.regular() }}



{% endblock %}


{% block footer %}

{% endblock %}
