.menu-bar__menu-btn {
  margin-left: auto;

  @include landscape {
    display: none;
  }
}

.menu-bar__menu-btn__icon--open {
  width: 36px;

  .js-menu-bar__menu-btn--open & {
    display: none;
  }
}

.menu-bar__menu-btn__icon--close {
  display: none;
  width: 27px;

  .js-menu-bar__menu-btn--open & {
    display: inline-block;
  }
}

.menu-bar__wrapper {
  display: flex;
  justify-content: flex-end;

  @include landscape {
    display: block;
  }
}

.menu-bar__links {
  display: none;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;

  @include landscape {
    display: flex;
  }
}

.menu-bar__menu-item {
  margin-bottom: 30px;

  @include landscape {
    margin-bottom: 0;
  }

  &:last-child {
    margin-top: auto;

    @include landscape {
      margin-top: 0;
    }
  }
}

.js-menu-bar__links--open {
  background-color: $color-white;
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: calc(100vh - $header-height);
  padding: 30px var(--grid-margin) 0 var(--grid-margin);
  position: absolute;
  right: 0;
  top: 58px;
  z-index: 2;
}

.link__span {
  font-family: $montserrat-font-stack;
  font-size: 24px;
  font-weight: #{get-montserrat-weight(bold)};
  text-transform: uppercase;
}
