.menu-bar__menu-btn {
  margin-left: auto;

  @include landscape {
    display: none;
  }
}

.menu-bar__menu-btn__icon {
  width: 36px;
}

.menu-bar__wrapper {
  display: flex;
  justify-content: flex-end;

  @include landscape {
    display: block;
  }
}

.menu-bar__links {
  display: none;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;

  @include landscape {
    display: flex;
  }
}

.menu-bar__links--open {
  background-color: yellow;
  bottom: 0;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

.link__span {
  font-family: $montserrat-font-stack;
  font-size: 24px;
  font-weight: #{get-montserrat-weight(bold)};
  text-transform: uppercase;
}
