
.pagination-wrapper {
  @include grid-container;

  margin-bottom: var(--section-space);
}

.pagination {
  align-items: center;
  display: flex;
  grid-column: column 1 / span 12;
  justify-content: space-between;

  @include landscape {
    justify-content: center;
  }
}
