{% import 'components/atoms/link/link.html' as atom_link %}
{% import 'components/atoms/number-button/number-button.html' as atom_number_button %}

{% macro regular() %}
  <section class="pagination-wrapper">
    <nav class="pagination">
      {{ atom_number_button.regular(classes = 'number-button--previous', variant = 'clean', href = '?', title = 'Next', icon = 'custom/arrow-left-icon') }}
      {{ atom_number_button.regular(href = '?', title = '1') }}
      {{ atom_number_button.span(classes = 'number-button--selected', variant = 'clean', title = '2') }}
      {{ atom_number_button.regular(href = '?', title = '3') }}
      {{ atom_number_button.regular(href = '?', title = '4') }}
      {{ atom_number_button.span(classes = 'number-button--dots', variant = 'clean', title = '...') }}
      {{ atom_number_button.regular(href = '?', title = '43') }}
      {{ atom_number_button.regular(href = '?', title = '44') }}
      {{ atom_number_button.regular(classes = 'number-button--next', variant = 'clean', href = '?', title = 'Next', icon = 'custom/arrow-right-icon') }}
    </nav>
  </section>
{% endmacro %}


{% macro temporarybackend(pagination={}) %}
  <section class="pagination-wrapper">
    <nav class="pagination">

      {% if pagination.button_previous %}
        {{ atom_link.regular(classes = 'pagination__previous', href = pagination.button_previous.href, title = pagination.button_previous.title, icon_before = 'custom/arrow-left-icon') }}
      {% endif %}

      <div class="pagination__numbers">
        {% for button in pagination.buttons %}
            {% if button.title and button.href %}
              {% if button.current %}
                {{ atom_number_button.span(classes = 'number-button--selected', variant = 'clean', title = button.title) }}
              {% else %}
                {{ atom_number_button.regular(href = button.href, title = button.title) }}
              {% endif %}
            {% else %}
                {{ atom_number_button.span(classes = 'number-button--dots', variant = 'clean', title = '...') }}
            {% endif %}
        {% endfor %}
      </div>

      {% if pagination.button_next %}
        {{ atom_link.regular(classes = 'pagination__next', href = pagination.button_next.href, title = pagination.button_next.title, icon_after = 'custom/arrow-right-icon') }}
      {% endif %}

    </nav>
  </section>
{% endmacro %}
