
@mixin article-photos-and-text {
  contain: content;
  margin: var(--margin-lg) 0 0 0;
  position: relative;

  p {
    @include typography(body-text, $libre-font-stack);
  }

  .article-photos-and-text__grid {
    @include grid-container;
  }

  .article-photos-and-text__wrapper-left {
    grid-column: var(--layout-left);
    margin-right: auto;
  }

  .article-photos-and-text__wrapper-right {
    grid-column: var(--layout-right);
    margin-right: auto;
    margin-top: 30px;

    @include landscape {
      margin-top: 0;
    }

    .richtext {
      margin-top: -.5em;
    }
  }

  .article-photos-and-text__pictures-container {
    display: none;
    margin-bottom: -100px;

    @include landscape {
      display: block;
    }
  }

  .article-photos-and-text__slideshow {
    display: block;
    width: 100%;

    .article-photos-and-text__picture,
    .swiper-container {
      height: 100vw;
    }

    @include landscape {
      display: none;
    }
  }

  .article-photos-and-text__picture {
    height: 225px;
  }

  .article-photos-and-text__picture--large {
    left: 0;
    top: 0;
    width: calc(85% - 13px);
  }

  .article-photos-and-text__picture--small {
    bottom: 100px;
    right: -100%;
    transform: translateX(-100%);
    width: calc(50% - 13px);
  }

  .swiper-container {
    height: 225px;
    width: 100%;
  }

  .swiper-wrapper {
    overflow: visible;
    padding: 0 0 35px;
  }

  .swiper-slide {
    list-style: none;
    margin-right: 10px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    background: $color-white;
    bottom: 0;
    height: 30px;
    left: auto;
    opacity: 1;
    padding: 8px;
    position: absolute;
    top: auto;
    width: 30px;
    z-index: 500;

    svg {
      height: 15px;
      width: 15px;

      g {
        fill: $color-grey;
        opacity: 1;
      }
    }
  }

  .swiper-button-next {
    left: 30px;
  }

  .swiper-button-prev {
    left: 0;
    padding-left: 0;
  }
}

.article-photos-and-text {
  @include article-photos-and-text;
}
