{% extends 'templates/_base.html' %}

{% import 'components/atoms/richtext/richtext.html' as atom_richtext %}
{% import 'components/organisms/article-content/article-content.html' as organism_article_content %}
{% import 'components/organisms/article-quote/article-quote.html' as organism_article_quote %}
{% import 'components/organisms/article-quote-and-text/article-quote-and-text.html' as organism_article_quote_and_text %}
{% import 'components/organisms/article-detail/article-detail.html' as organism_article_detail %}
{% import 'components/organisms/context-cards/context-cards.html' as organism_context_cards %}
{% import 'components/organisms/image-header/image-header.html' as organism_image_header %}
{% import 'components/organisms/lightbox/lightbox.html' as organism_lightbox %}
{% import 'components/organisms/object-details/object-details.html' as organism_object_details %}
{% import 'components/organisms/related-objects/related-objects.html' as organism_related_objects %}
{% import 'components/organisms/object-series/object-series.html' as organism_object_series %}
{% import 'components/structures/menu-overlay/menu-overlay.html' as structure_menu_overlay %}
{% import 'components/organisms/lightbox/lightbox.html' as lightbox %}
{% import 'components/organisms/context-cards-overlay/context-cards-overlay.html' as context_overlay %}

{% block page_title %}Jüdisches{% endblock %}

{% block header %}
  {{ organism_image_header.regular(
    pictures = [
    {
      images: {
        mobile: '/static/media/unsplash/cropped/object-series-1.jpg',
        portrait: '/static/media/unsplash/cropped/object-series-1.jpg',
        landscape: '/static/media/unsplash/cropped/object-series-1.jpg'
      },
      positions: { mobile: '50% 100%', portrait: '50% 66.6%', landscape: '50% 50%' },
      width: '1920',
      height: '1280',
      alt: 'test description'
    }],
    information = {
      name: 'Peter Loewy',
      title: 'Jüdisches',
      date: 'Fotoserie, 1996'
    },
    expandable = true,
    variation = 'blue',
    context = true
  ) }}
{% endblock %}

{% block content %}
  {{ organism_article_detail.regular(
    type = 'object',
    expandable = true,
    information = {
      id: '123456',
      title: 'Chanukka-Leuchter',
      name: 'Carl Wilhelm Rauch',
      date: '1772'
    },
    pictures = [{
      images: { mobile: '/static/media/unsplash/cropped/object-series-1.jpg' },
      positions: { mobile: '50% 50%' },
      fits: { mobile: 'cover' },
      width: 1920,
      height: 640
    }],
    description = {
      text: 'Jüdisch sein ist kein abendfüllendes Programm. Wir haben viele Identitäten. Wie mischen sie sich? Wie nah muß ich an entsprechende Gegenstände, Symbole? Wieviel Abstand brauche ich für weiteres Persönliche?',
      location: 'Museum Judengasse',
      location_icon: 'eye-icon'
    }
  ) }}

  {% call organism_article_content.regular(classes = component + '__text-content') %}
    <p>
      Wenn Havlin vor die Tür geht, fällt er auf. Dieser Anzug, dieser Bart. Viele sprechen ihn an. An manchen Tagen, sagt Havlin, brauche er von seiner Wohnung zur Synagoge doppelt so lange wie geplant.
      Wenn er vor Schulklassen steht, ist er oft der erste Jude, mit dem die Jugendlichen bewusst Kontakt haben. Jüdisches Leben, das ist immer noch etwas, das nicht selbstverständlich ist in Deutschland.
    </p>
  {% endcall %}

  {{ organism_object_series.regular(
    title = 'Weitere Objekte dieser Serie',
    series_cards = [
      {
        picture: {
          images: { mobile: '/static/media/unsplash/cropped/object-series-2.jpg' },
          positions: { mobile: '50% 50%' },
          fits: { mobile: 'cover' },
          width: 1920,
          height: 640
        },
        title: 'Besamim-Turm',
        name: 'Carl Wilhelm Rauch',
        type: 'Behälter',
        date: '1875 - 1910',
        link: {
          href: '?'
        }
      },
      {
        picture: {
          images: { mobile: '/static/media/unsplash/cropped/object-series-3.jpg' },
          positions: { mobile: '50% 50%' },
          fits: { mobile: 'cover' },
          width: 1920,
          height: 640
        },
        title: 'Besamim-Turm',
        name: 'Carl Wilhelm Rauch',
        type: 'Behälter',
        date: '1875 - 1910',
        link: {
          href: '?'
        }
      },
      {
        picture: {
          images: { mobile: '/static/media/unsplash/cropped/object-series-4.jpg' },
          positions: { mobile: '50% 50%' },
          fits: { mobile: 'cover' },
          width: 1920,
          height: 640
        },
        title: 'Besamim-Turm',
        name: 'Carl Wilhelm Rauch',
        type: 'Behälter',
        date: '1875 - 1910',
        link: {
          href: '?'
        }
      },
      {
        picture: {
          images: { mobile: '/static/media/unsplash/cropped/object-series-5.jpg' },
          positions: { mobile: '50% 50%' },
          fits: { mobile: 'cover' },
          width: 1920,
          height: 640
        },
        title: 'Besamim-Turm',
        name: 'Carl Wilhelm Rauch',
        type: 'Behälter',
        date: '1875 - 1910',
        link: {
          href: '?'
        }
      },
      {
        picture: {
          images: { mobile: '/static/media/unsplash/cropped/object-series-6.jpg' },
          positions: { mobile: '50% 50%' },
          fits: { mobile: 'cover' },
          width: 1920,
          height: 640
        },
        title: 'Besamim-Turm',
        name: 'Carl Wilhelm Rauch',
        type: 'Behälter',
        date: '1875 - 1910',
        link: {
          href: '?'
        }
      },
      {
        picture: {
          images: { mobile: '/static/media/unsplash/cropped/object-series-7.jpg' },
          positions: { mobile: '50% 50%' },
          fits: { mobile: 'cover' },
          width: 1920,
          height: 640
        },
        title: 'Besamim-Turm',
        name: 'Carl Wilhelm Rauch',
        type: 'Behälter',
        date: '1875 - 1910',
        link: {
          href: '?'
        }
      }
    ]
  ) }}

  {{ organism_object_details.regular(
    id = 'object-details',
    title = 'Seriendetails',
    tags = {
      title: 'Schlagworte',
      tag_items: [
        { title: 'Schrank', href: '?' },
        { title: 'Kippa', href: '?' },
        { title: 'buch', href: '?' },
       { title:  'alltag', href: '?' },
       { title:  'wohnen', href: '?' }
      ]
    }
  ) }}

  {{ organism_related_objects.regular(
    title = 'Verwandte Objekte',
    related_objects = [
      {
        picture: {
          images: { mobile: '/static/media/unsplash/cropped/related-object-1.png' },
          positions: { mobile: '50% 50%' },
          fits: { mobile: 'cover' },
          width: 1920,
          height: 640
        },
        title: 'Besamim-Turm',
        name: 'Carl Wilhelm Rauch',
        type: 'Behälter',
        date: '1875 - 1910',
        link: {
          href: '?'
        }
      },
      {
        picture: {
          images: { mobile: '/static/media/unsplash/cropped/related-object-2.jpg' },
          positions: { mobile: '50% 50%' },
          fits: { mobile: 'cover' },
          width: 1920,
          height: 640
        },
        title: 'Besamim-Turm',
        name: 'Carl Wilhelm Rauch',
        type: 'Behälter',
        date: '1875 - 1910',
        link: {
          href: '?'
        }
      },
      {
        picture: {
          images: { mobile: '/static/media/unsplash/cropped/related-object-3.jpg' },
          positions: { mobile: '50% 50%' },
          fits: { mobile: 'cover' },
          width: 1920,
          height: 640
        },
        title: 'Besamim-Turm',
        name: 'Carl Wilhelm Rauch',
        type: 'Behälter',
        date: '1875 - 1910',
        link: {
          href: '?'
        }
      },
      {
        picture: {
          images: { mobile: '/static/media/unsplash/cropped/related-object-4.jpg' },
          positions: { mobile: '50% 50%' },
          fits: { mobile: 'cover' },
          width: 1920,
          height: 640
        },
        title: 'Besamim-Turm',
        name: 'Carl Wilhelm Rauch',
        type: 'Behälter',
        date: '1875 - 1910',
        link: {
          href: '?'
        }
      }
    ]
  ) }}


  {{ organism_context_cards.regular(
    title_1 = 'Entdecken sie',
    title_2 = 'das werk  im Kontext',
    cards = [
      {
        href: '?',
        target: '',
        title: 'Jüdische Identität in Deutschland',
        type: 'geschichten',
        color: 'blurple',
        picture: {
          images: { mobile: '/static/media/unsplash/cropped/story-detail-main.jpg' },
          positions: { mobile: '80% 50%' },
          fits: { mobile: 'cover' },
          width: 1920,
          height: 640
        }
      },
      {
        href: '?',
        target: '',
        title: 'Leviten-Kanne und Waschschüssel',
        type: 'objekt',
        picture: {
          images: { mobile: '/static/media/unsplash/cropped/context-card-2.jpg' },
          positions: { mobile: '40% 50%' },
          fits: { mobile: 'cover' },
          width: 1920,
          height: 640
        }
      },
      {
        href: '?',
        target: '',
        title: 'Peter Loewy, Fotograf',
        type: 'BIOGRAFIE',
        color: 'blurple',
        picture: {
          images: { mobile: '/static/media/unsplash/cropped/context-card-3.jpg' },
          positions: { mobile: '85% 50%' },
          fits: { mobile: 'cover' },
          width: 1920,
          height: 640
        }
      }
    ]
  ) }}


{% endblock %}

{% block footer %}

{% endblock %}

{% block overlays %}

  {{ lightbox.photo_series(
    items = [
      {
        picture: {
           images: {
            mobile: '/static/media/unsplash/cropped/object-series-1.jpg',
            portrait: '/static/media/unsplash/cropped/object-series-1.jpg',
            landscape: '/static/media/unsplash/cropped/object-series-1.jpg'
          },
          positions: { mobile: '100% 100%', portrait: '100% 66.6%', landscape: '50% 50%' },
          width: '1920',
          height: '1280',
          alt: 'test description'
        },
        information: {
          title: 'Ohne Titel',
          name: 'New name',
          date: 'Fotografie 200',
          description: 'This is a new description',
          credits: 'BY ND',
          link: {
            href: '?',
            title: 'Objekt Details'
          }
        }
      }
    ]
  ) }}
  <!--
  {{ lightbox.object_series(
    items = [
      {
        picture: {
          images: { mobile: '/static/media/unsplash/cropped/object-series-2.jpg' },
          positions: { mobile: '50% 50%' },
          fits: { mobile: 'cover' },
          width: 1920,
          height: 640
        },
        information: {
          title: 'Besamim-Turm',
          name: 'Carl Wilhelm Rauch',
          date: '1875 - 1910',
          description: 'This is a new description',
          credits: 'CREDITS',
          link: {
            href: '?'
          }
        }
      },
      {
        picture: {
          images: { mobile: '/static/media/unsplash/cropped/object-series-3.jpg' },
          positions: { mobile: '50% 50%' },
          fits: { mobile: 'cover' },
          width: 1920,
          height: 640
        },
        information: {
          title: 'Besamim-Turm',
          name: 'New name',
          date: '1875 - 1910',
          description: 'This is a new description',
          credits: 'CREDITS',
          link: {
            href: '?'
          }
        }
      },
      {
        picture: {
          images: { mobile: '/static/media/unsplash/cropped/object-series-4.jpg' },
          positions: { mobile: '50% 50%' },
          fits: { mobile: 'cover' },
          width: 1920,
          height: 640
        },
        information: {
          title: 'Title',
          name: 'Test name 3',
          date: '1875 - 1910',
          description: 'This is a new description - This is a new description',
          credits: 'ND',
          link: {
            href: '?'
          }
        }
      },
      {
        picture: {
          images: { mobile: '/static/media/unsplash/cropped/object-series-5.jpg' },
          positions: { mobile: '50% 50%' },
          fits: { mobile: 'cover' },
          width: 1920,
          height: 640
        },
        information: {
          title: 'Besamim-Turm',
          name: 'Carl Wilhelm Rauch',
          date: '1875 - 1910',
          description: 'This is a new description',
          credits: 'CREDITS',
          link: {
            href: '?'
          }
        }
      },
      {
        picture: {
          images: { mobile: '/static/media/unsplash/cropped/object-series-6.jpg' },
          positions: { mobile: '50% 50%' },
          fits: { mobile: 'cover' },
          width: 1920,
          height: 640
        },
        information: {
          title: 'Besamim-Turm',
          name: 'Carl Wilhelm Rauch',
          date: '1875 - 1910',
          description: 'This is a new description',
          credits: 'CREDITS',
          link: {
            href: '?'
          }
        }
      },
      {
        picture: {
          images: { mobile: '/static/media/unsplash/cropped/object-series-7.jpg' },
          positions: { mobile: '50% 50%' },
          fits: { mobile: 'cover' },
          width: 1920,
          height: 640
        },
        information: {
          title: 'Besamim-Turm',
          name: 'Carl Wilhelm Rauch',
          date: '1875 - 1910',
          description: 'This is a new description',
          credits: 'CREDITS',
          link: {
            href: '?'
          }
        }
      }
    ]
  ) }}
  -->

  {{ context_overlay.regular(
    title = 'das werk im kontext',
    title_top = 'Entdecken SIe',
    title_bottom = 'das werk im kontext',
    cards = [
      {
        href: '?',
        target: '',
        title: 'Jüdische Identität in Deutschland',
        type: 'geschichten',
        color: 'blurple',
        picture: {
          images: { mobile: '/static/media/unsplash/cropped/story-detail-main.jpg' },
          positions: { mobile: '80% 50%' },
          fits: { mobile: 'cover' },
          width: 1920,
          height: 640
        }
      },
      {
        href: '?',
        target: '',
        title: 'Leviten-Kanne und Waschschüssel',
        type: 'objekt',
        picture: {
          images: { mobile: '/static/media/unsplash/cropped/context-card-2.jpg' },
          positions: { mobile: '40% 50%' },
          fits: { mobile: 'cover' },
          width: 1920,
          height: 640
        }
      },
      {
        href: '?',
        target: '',
        title: 'Peter Loewy, Fotograf',
        type: 'BIOGRAFIE',
        color: 'blurple',
        picture: {
          images: { mobile: '/static/media/unsplash/cropped/context-card-3.jpg' },
          positions: { mobile: '85% 50%' },
          fits: { mobile: 'cover' },
          width: 1920,
          height: 640
        }
      }
    ]
  )}}
{% endblock %}
