
:root {
  --body-text-font-size: 16px;
  --body-text-font-style: normal;
  --body-text-font-variant: normal;
  --body-text-font-weight: #{get-libre-weight(regular)};
  --body-text-letter-spacing: 0;
  --body-text-line-height: 1.65em;
  --body-text-margin-bottom: .5em;
  --body-text-margin-top: 1em;

  @include portrait {
    --body-text-font-size: 16px;
    --body-text-line-height: 32px;
  }
}
