
:root {
  --body-text-font-stack: #{$lora-font-stack};
  --body-text-font-size: 18px;
  --body-text-font-style: normal;
  --body-text-font-variant: normal;
  --body-text-font-weight: #{get-lora-weight(regular)};
  --body-text-letter-spacing: 0;
  --body-text-line-height: 26px;
  --body-text-margin-bottom: 20px;
  --body-text-margin-top: 0;

  @include portrait {
    --body-text-font-size: 22px;
    --body-text-line-height: 32px;
  }
}
