
:root {
  --heading-2-font-size: 25px;
  --heading-2-font-style: normal;
  --heading-2-font-variant: normal;
  --heading-2-font-weight: #{get-replica-weight(bold)};
  --heading-2-letter-spacing: -.005em;
  --heading-2-line-height: 1.28em;
  --heading-2-margin-bottom: .5em;
  --heading-2-margin-top: 1em;

  @include portrait {
    //
  }

  @include landscape {
    //
  }
}
