
:root {
  --introduction-font-size: 25px;
  --introduction-font-style: normal;
  --introduction-font-variant: normal;
  --introduction-font-weight: #{get-replica-weight(regular)};
  --introduction-letter-spacing: 0;
  --introduction-line-height: 32px;
  --introduction-margin-bottom: .5em;
  --introduction-margin-top: 1em;
}
