{% import 'components/atoms/figure/figure.html' as atom_figure %}
{% import 'components/atoms/link/link.html' as atom_link %}
{% import 'components/atoms/picture/picture.html' as atom_picture %}

{% macro regular(id = '', align = 'default', title = '', picture = {}, link = {}) %}
  <div class="hero-image-title">
    <div class="hero-image-title__grid">
      <div class="hero-image-title__image">

        {% if picture.images and picture.images == 'placeholders' %}
          {# Image ratio: free  #}
          {{ object_replace_value(picture, 'images', 'placeholders', generate_placeholders({ mobile: '530x353', portrait: '530x353', landscape: '266x177', notebook: '394x262', desktop: '494x329' })) }}
        {% endif %}

        {{ atom_picture.regular(
          images = picture.images,
          fits = picture.fits,
          positions = picture.positions,
          width = picture.width,
          height = picture.height,
          loading = picture.loading,
          alt = picture.alt
        ) }}
      </div>
      <div class="hero-image-title__title-link-wrapper">
        <h2>{{ title }}</h2>
        <div class="hero-image-title__link-wrapper">
          {{ atom_link.regular(
            classes = link.classes,
            href = link.href,
            title = link.title,
            target = link.target,
            icon_after = 'custom/arrow-right-icon'
          ) }}
        </div>
      </div>
    </div>
  </div>
{% endmacro %}
