{% extends 'templates/_base.html' %}

{% import 'components/organisms/my-collection/my-collection.html' as organism_my_collection %}

{% block page_title %}Meine Sammlung{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
  {{ organism_my_collection.regular(
    title = 'Meine Sammlung',
    download = {
      title: 'alle Bilder downloaden',
      href: '?',
      file: '?'
    },
    collection = [
      {
        picture: {
          images: { mobile: '/static/media/unsplash/cropped/search-result-1.jpg' },
          positions: { mobile: '50% 50%' },
          fits: { mobile: 'cover' },
          width: 1920,
          height: 640
        },
        title: 'Besamim-Turm',
        name: 'Carl Wilhelm Rauch',
        type: 'objekt',
        variant: 'object',
        date: '1875 - 1910',
        link: {
          href: '?'
        }
      },
      {
        picture: {
          images: { mobile: '/static/media/unsplash/cropped/search-result-2.jpg' },
          positions: { mobile: '50% 50%' },
          fits: { mobile: 'cover' },
          width: 1920,
          height: 640
        },
        title: 'Besamim-Turm',
        name: 'Carl Wilhelm Rauch',
        type: 'objekt',
        variant: 'object',
        date: '1875 - 1910',
        link: {
          href: '?'
        }
      },
      {
        href: '?',
        target: '',
        title: 'Leviten-Kanne und Waschschüssel',
        type: 'objekt',
        variant: 'object',
        picture: {
          images: { mobile: '/static/media/unsplash/cropped/search-result-3.jpg' },
          positions: { mobile: '40% 50%' },
          fits: { mobile: 'cover' },
          width: 1920,
          height: 640
        }
      },
      {
        href: '?',
        target: '',
        title: 'Jüdische Identität in Deutschland',
        type: 'geschichten',
        color: 'blurple',
        picture: {
          images: { mobile: '/static/media/unsplash/cropped/search-result-3.jpg' },
          positions: { mobile: '80% 50%' },
          fits: { mobile: 'cover' },
          width: 1920,
          height: 640
        }
      },
      {
        href: '?',
        target: '',
        title: 'Leviten-Kanne und Waschschüssel',
        type: 'objekt',
        variant: 'object',
        picture: {
          images: { mobile: '/static/media/unsplash/cropped/search-result-4.jpg' },
          positions: { mobile: '40% 50%' },
          fits: { mobile: 'cover' },
          width: 1920,
          height: 640
        }
      },
      {
        href: '?',
        target: '',
        title: 'Jüdische Identität in Deutschland',
        type: 'geschichten',
        color: 'blurple',
        picture: {
          images: { mobile: '/static/media/unsplash/cropped/story-detail-main.jpg' },
          positions: { mobile: '80% 50%' },
          fits: { mobile: 'cover' },
          width: 1920,
          height: 640
        }
      },
      {
        href: '?',
        target: '',
        title: 'Leviten-Kanne und Waschschüssel',
        type: 'objekt',
        variant: 'object',
        picture: {
          images: { mobile: '/static/media/unsplash/cropped/search-result-6.jpg' },
          positions: { mobile: '40% 50%' },
          fits: { mobile: 'cover' },
          width: 1920,
          height: 640
        }
      }
    ]
  )}}
{% endblock %}

{% block footer %}

{% endblock %}
