@mixin search-results {
  background-color: $color-white;

  .search-results__results-item {
    opacity: 0;
  }

  .search-results__results-item--in-view {
    opacity: 1;
    transition: opacity .5s ease 1s;
  }

  .search-results__grid-container {
    @include grid-container;
  }

  .search-results__results-search-term {
    font-weight: bold;
    text-transform: capitalize;
  }

  .search-results__results-none-found {
    padding-top: 20px;
  }

  .search-results__active-button {
    background-color: $color-blue;
    border-radius: 10px;
    color: $color-white;
    margin-left: 10px;

    .search-results__active-button-title {
      display: inline-block;
      max-width: 275px;
      overflow: hidden;
      padding: 0 10px;
      pointer-events: none;
      text-overflow: ellipsis;
      vertical-align: top;
      white-space: nowrap;
    }

    .search-results__active-button-close {
      display: inline-block;
      padding: 0 10px;
      pointer-events: none;
      text-align: right;
      vertical-align: top;
      width: 25px;
    }
  }

  .search-results__results-active-filters {
    display: none;

    &.search-results__results-active-filters--active {
      display: inline;
    }
  }

  .search-results__grid-column,
  .search-results__grid-column-tablet,
  .search-results__grid-column-mobile {
    list-style: none;
    padding: 0;
  }

  .search-results__grid-column {
    display: none;
    grid-column: auto / span 4;

    @include notebook {
      display: block;
    }

    &:nth-child(5) {
      padding-right: 40px;
    }

    &:nth-child(6) {
      margin-top: 70px;
      padding: 0 20px;
    }

    &:nth-child(7) {
      padding-left: 40px;
    }
  }

  .search-results__grid-column-tablet {
    display: none;
    grid-column: auto / span 6;

    &:nth-child(3) {
      padding-right: 20px;
    }

    &:nth-child(4) {
      margin-top: 70px;
      padding-left: 20px;
    }

    @include landscape {
      display: block;
    }

    @include notebook {
      display: none;
    }
  }

  .search-results__grid-column-mobile {
    grid-column: 1 / span 12;

    @include landscape {
      display: none;
    }
  }

  .search-results__card {
    display: block;
  }

  .search-results__card,
  .search-results__object-card {
    margin-bottom: 40px;

    @include landscape {
      margin-bottom: 150px;
    }
  }

  .search-results__reset-link {
    margin-left: 10px;
  }
}

@mixin search-results__filters {
  margin-bottom: 50px;
}

@mixin search-results__information-container {
  grid-column: column 1 / span 12;
  margin-bottom: 40px;

  .search-results__total-results {
    @include typography(sub-heading, $replica-font-stack);

    margin-bottom: 60px;
  }
}

.search-results {
  @include search-results;

  .search-results__filters {
    @include search-results__filters;
  }

  .search-results__information-container {
    @include search-results__information-container;
  }
}
