{% import 'components/atoms/picture/picture.html' as atom_picture %}

{% macro story(classes = '', title = '', picture = {}, theme_color = '', href = '', label = '') %}
  {% set component = 'story' %}
  <article class="{{ component }} {{ classes }} {{ theme_color }}">
    <a
      title="{{ title }}"
      role="link"
      alt="{{ title }}"
      href="{{ href }}"
      class="{{ component }}__inner"
    >
      {{ atom_picture.regular(
        images = picture.images,
        fits = picture.fits,
        classes = component + '__picture',
        positions = picture.positions,
        width = picture.width,
        height = picture.height,
        loading = picture.loading,
        alt = picture.alt
      ) }}

      <span class="{{ component }}__content-wrapper">
        <span class="{{ component }}__content-wrapper__inner">
          <span class="{{ component }}__label">{{ label }}</span>
          <span class="{{ component }}__title">{{ title }}</span>
        </span>
      </span>
    </a>
  </article>
{% endmacro %}

{% macro object(classes = '', title = '', picture = {}, theme_color = '', href = '', subtitle = '') %}
  {% set component = 'object' %}
  <article class="{{ component }} {{ classes }} {{ theme_color }}">
    <a
      title="{{ title }}"
      role="link"
      alt="{{ title }}"
      href="{{ href }}"
      class="{{ component }}__inner"
    >
      <span class="{{ component }}__picture-wrapper">
        {{ atom_picture.regular(
          images = picture.images,
          fits = picture.fits,
          classes = component + '__picture',
          positions = picture.positions,
          width = picture.width,
          height = picture.height,
          loading = picture.loading,
          alt = picture.alt
        ) }}
      </span>
      <span class="{{ component }}__content-wrapper">
        <span class="{{ component }}__content-wrapper__inner">
          <span class="{{ component }}__label">Object</span>
          <span class="{{ component }}__title">{{ title }}</span>
          <span class="{{ component }}__subtitle">{{ subtitle }}</span>
        </span>
      </span>
    </a>
  </article>
{% endmacro %}


{% macro news(
  classes = '',
  href = '',
  title = '',
  picture = {},
  label = '',
  excerpt = '',
  type = '',
  date = '',
  width = '',
  height = ''
) %}
  {% set component = 'news' %}
  <article class="{{ component }} {{ classes }} {{ theme_color }}">
    <a
      title="{{ title }}"
      role="link"
      alt="{{ title }}"
      href="{{ href }}"
      class="{{ component }}__inner"
    >
      <span class="{{ component }}__picture-wrapper">
        {{ atom_picture.regular(
          images = picture.images,
          fits = picture.fits,
          classes = component + '__picture',
          positions = picture.positions,
          width = picture.width,
          height = picture.height,
          loading = picture.loading,
          alt = picture.alt
        ) }}
      </span>
      <span class="{{ component }}__content-wrapper">
        <span class="{{ component }}__label">{{ label }}</span>
        <span class="{{ component }}__title">{{ title }}</span>
        <span class="{{ component }}__excerpt">{{ excerpt }}</span>
        <span class="{{ component }}__date">{{ date }}</span>
      </span>
    </a>
  </article>
{% endmacro %}
