$story-spacing: 15px;

.card__story {
  @include setThemeColorsByClass;

  background: linear-gradient(to top, var(--theme-color) 80%, transparent 80%);
  transition: filter var(--transition-speed);

  &:hover {
    filter: brightness(105%);

    .card__story__picture-wrapper {
      transform: scale(.95);
    }

    .card__story__picture {
      transform: scale(1.09);
    }
  }
}

.card__story__inner {
  display: block;
  font-family: $montserrat-font-stack;
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 10px;
}

.card__story__label {
  --label-margin-bottom: 10px;

  @include typography(label, false, true, false);

  color: $color-white;
  display: block;
}

.card__story__picture-wrapper {
  display: inline-block;
  margin: 0 $story-spacing;
  overflow: hidden;
  transition: var(--transition-speed);

  @include landscape {
    margin: 0 $story-spacing  20px $story-spacing;
  }
}

.card__story__picture {
  transition: var(--transition-speed);
}

.card__story__content-wrapper {
  display: block;
  padding: 20px $story-spacing;
}

.card__story__title {
  --heading-4-font-size: 18px;
  --heading-4-line-height: 22px;

  @include landscape {
    --heading-4-line-height: 28px;
    --heading-4-font-size: 24px;
  }

  @include typography(heading-4);

  color: $color-white;
  display: block;
}
