$object-spacing: 24px;

.card__object {
  &:hover {
    .card__object__picture {
      filter: brightness(100%);
    }
  }
}

.card__object__inner {
  //
}

.card__object__label {
  color: $color-black;
  display: block;
  font-family: $montserrat-font-stack;
  font-size: 18px;
  font-weight: #{get-montserrat-weight(bold)};
  line-height: 22px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.card__object__picture-wrapper {
  display: block;
  position: relative;

  &::after {
    background-image: linear-gradient(transparent, $color-white);
    bottom: 0;
    content: '';
    height: 100px;
    left: 0;
    position: absolute;
    right: 0;
  }
}

.card__object__picture {
  filter: brightness(105%);
  margin-left: $object-spacing;
  transition: .2s;
}

.card__object__content-wrapper {
  display: block;
  margin-top: -50px;
  position: relative;
  z-index: 2;
}

.card__object__content-wrapper__inner {
  display: block;
}

.card__object__title {
  --heading-4-font-size: 18px;
  --heading-4-line-height: 22px;

  @include typography(heading-4);

  color: var(--theme-color);
  display: block;
  padding-bottom: 5px;

  @include landscape {
    --heading-4-line-height: 28px;
    --heading-4-font-size: 24px;
  }
}

.card__object__subtitle {
  color: $color-black;
  font-size: 16px;
  line-height: 18px;
}
