$object-spacing: 24px;

.card__object {
  &:hover {
    .card__object__picture-wrapper__inner {
      transform: scale(.95);
    }

    .card__object__picture {
      filter: brightness(100%);
      transform: scale(1.09);
    }
  }
}

.card__object__inner {
  //
}

.card__object__label {
  @include typography(label, false, true, false);

  color: $color-black;
  display: block;
}

.card__object__picture-wrapper {
  display: block;
  position: relative;

  &::after {
    background-image: linear-gradient(rgba(255, 255, 255, .001) 10%, $color-white);
    bottom: -.5px;
    content: '';
    height: 114px;
    left: $object-spacing;
    position: absolute;
    right: -.5px;
  }
}

.card__object__picture-wrapper__inner {
  display: inline-block;
  margin-left: $object-spacing;
  overflow: hidden;
  position: relative;
  transition: var(--transition-speed);
}

.card__object__picture {
  filter: brightness(105%);
  transition: var(--transition-speed);
}

.card__object__content-wrapper {
  display: block;
  margin-top: -36px;
  position: relative;
  z-index: 2;

  @include landscape {
    margin-top: -53px;
  }
}

.card__object__content-wrapper__inner {
  display: block;
}

.card__object__title {
  --heading-4-font-size: 18px;
  --heading-4-line-height: 22px;

  @include typography(heading-4);

  color: var(--theme-color);
  display: block;
  padding-bottom: 5px;

  @include landscape {
    --heading-4-line-height: 28px;
    --heading-4-font-size: 24px;
  }
}

.card__object__subtitle {
  color: $color-black;
  font-size: 16px;
  line-height: 18px;
}
