{% import 'components/atoms/richtext/richtext.html' as atom_richtext %}
{% import 'components/atoms/figure/figure.html' as atom_figure %}
{% import 'components/atoms/link/link.html' as atom_link %}

{% macro regular(id = '', align = 'default', figure = {}) %}
  <section class="text-and-image">
    <div class="text-and-image_grid">
      <div class="text-and-image__text">
        {% set child_context = caller() %}
        {% call atom_richtext.regular() %}
          {{ child_context }}
        {% endcall %}
      </div>
      <div class="text-and-image__image-and-link">
        <div class="text-and-image__image__image-wrapper">
          {{ atom_figure.regular(
            picture = figure.picture,
            caption = figure.caption,
            caption_number = figure.caption_number
          ) }}
        </div>
      </div>
    </div>
  </section>
{% endmacro %}
