.text-and-image {
  @include grid-container;

  margin-bottom: var(--section-space);
}

.text-and-image_grid {
  grid-column: column 2 / span 12;

  @include landscape {
    grid-column: column 2 / span 6;
  }
}
