{% extends 'core/base_page.html' %}

{% load core_tags menu_tags wagtailcore_tags wagtailimages_tags starling_tags %}

{% block bodyclass %}{% endblock %}

{% block navigation_header %}
    {% get_menu_header_component as menu %}
    {% include_component 'structures.header.regular' menu_items=menu.menu_items logo_href=menu.logo_href has_logo=false %}
{% endblock navigation_header %}

{%  block page_header %}


{%  endblock %}


{% block content %}
    {% include_component 'organisms.full-screen-logo.regular' theme_color=page.get_random_theme_color  %}

    {% for block in page.home_intro %}
        {% include_block block %}
    {% endfor %}

{#    {% for block in page.object_highlights %}#}
{#        {% include_block block %}#}
{#    {% endfor %}#}

    {% for block in page.story_highlight %}
        {% include_block block %}
    {% endfor %}

    {% for block in page.news_highlights %}
        {% include_block block %}
    {% endfor %}

{% endblock %}