{% extends 'core/base_page.html' %}

{% load core_tags wagtailcore_tags wagtailimages_tags starling_tags %}

{% block bodyclass %}{% endblock %}

{%  block page_header %}

{%  endblock %}


{% block content %}
    {% include_component 'organisms.full-screen-logo.regular' theme_color=page.get_random_theme_color  %}

    {% for block in page.home_intro %}
        {% include_block block %}
    {% endfor %}

    {% for block in page.object_highlights %}
        {% include_block block %}
    {% endfor %}

{% endblock %}