{% extends 'base.html' %}
{% load wagtailcore_tags starling_tags %}

{%  block page_header %}
    {% for block in page.search_header %}
        {% include_block block with live_search_url=page.live_search_url search_url=page.get_search_base_url picture_index=page.get_random_header_picture %}
    {% endfor %}
{%  endblock %}

{% block page_content %}

    {% include_component 'organisms.search-results.regular' results=results result_count=result_count dropdowns=filters no_results=no_results search_query=search_query search_filters=search_filters %}

    {% include 'core/parts/paginator.html' with paginator=paginator %}

{% endblock %}



