{% extends 'base.html' %}
{% load wagtailcore_tags starling_tags menu_tags %}

{% block navigation_header %}
  {% get_menu_items as menu %}
  {% with page.get_my_collection_url as fav_url %}
    {% include_component 'structures.menu-bar.regular' is_home_page=True fav_url=fav_url menu_items=menu.menu_items address='Bertha-Pappenheim-Platz 1' address2='Battonnstrasse 47' languages="['Deutsch', 'English']" %}
  {% endwith %}
{% endblock navigation_header %}

{% block page_header %}
    {% for block in page.search_header %}
        {% include_block block with variant='large' is_homepage=True live_search_url=searchpage.live_search_url search_url=page.get_search_base_url picture_index=page.get_random_header_picture %}
    {% endfor %}
{% endblock %}

{% block page_content %}

    {% include_component 'organisms.profile.regular' page.get_collection_themes %}

    {% include_component 'organisms.collection-highlights.regular' page.get_object_highlights %}

    {% for block in page.collection_categories_block %}
        {% include_block block %}
    {% endfor %}

{% endblock %}

