{% extends 'templates/_base.html' %}

{% import 'components/organisms/explore-intro/explore-intro.html' as organisms_explore_intro %}
{% import 'components/organisms/explore-cards/explore-cards.html' as organisms_explore_cards %}
{% import 'components/molecules/pagination/pagination.html' as molecules_pagination %}

{% block page_title %}Explore{% endblock %}



{% block content %}

  {{ organisms_explore_intro.regular(
    title = 'Explore',
    search_button_title = 'Search',
    search_label = 'Search query',
    search_button_icon = 'custom/arrow-right-icon',
    main_filters = {
      all: {
        active: 'active',
        title: 'All',
        querystring: '?'
      },
      objects: {
        active: '',
        title: 'Objects',
        querystring: '?'
      },
      stories: {
        active: '',
        title: 'Stories',
        querystring: '?'
      }
    }
  ) }}

  {{ organisms_explore_cards.regular(
    cards = [
      {
        picture: {
          images: 'placeholders',
          positions: { mobile: '50% 50%' },
          fits: { mobile: 'cover' },
          width: 430
        },
        title: 'THE LUDWIG MEIDNER ARCHIVE',
        subtitle: 'Kurt de Jong, Flasche, 2007',
        type: 'object',
        href: '?',
        aria_label: '',
        label: 'Object'
      },
      {

        picture: {
          images: 'placeholders',
          positions: { mobile: '50% 50%' },
          fits: { mobile: 'cover' },
          width: 430
        },

        title: 'Prince Jussuf von Thebes',
        subtitle: 'Silberwarenfabrik Adolf G. Meyer Becher, 1926',
        type: 'object',
        href: '?',
        aria_label: '',
        label: 'Object'
      },
      {

        picture: {
          images: 'placeholders',
          positions: { mobile: '50% 50%' },
          fits: { mobile: 'cover' },
          width: 430
        },

        title: 'Collection of Everyday Object',
        subtitle: 'Ida ritter, painting, Berlin 1920-1935',
        type: 'object',
        href: '?',
        aria_label: '',
        label: 'Object'
      },
      {
        picture: {
          images: 'placeholders',
          positions: { mobile: '50% 50%' },
          fits: { mobile: 'cover' },
          width: 430
        },
        title: 'THE LUDWIG MEIDNER ARCHIVE',
        subtitle: 'Jakob Nussbaum Gemälde, 1926',
        type: 'object',
        href: '?',
        aria_label: '',
        label: 'Object'
      },
      {
        picture: {
          images: 'placeholders',
          positions: { mobile: '50% 50%' },
          fits: { mobile: 'cover' },
          width: 430
        },
        title: 'Prince Jussuf von Thebes',
        subtitle: 'Ed. 54/100, Dan Givon',
        type: 'object',
        href: '?',
        aria_label: '',
        label: 'Object'
      },
      {

        picture: {
          images: 'placeholders',
          positions: { mobile: '50% 50%' },
          fits: { mobile: 'cover' },
          width: 430
        },

        title: 'Collection of Everyday Object',
        theme_color: 'theme--magenta',
        type: 'story',
        href: '?',
        aria_label: '',
        label: 'Story'
      },
      {

        picture: {
          images: 'placeholders',
          positions: { mobile: '50% 50%' },
          fits: { mobile: 'cover' },
          width: 430
        },

        title: 'Collection of Everyday Object',
        theme_color: 'theme--magenta',
        type: 'story',
        href: '?',
        aria_label: '',
        label: 'Story'
      },
      {

        picture: {
          images: 'placeholders',
          positions: { mobile: '50% 50%' },
          fits: { mobile: 'cover' },
          width: 430
        },

        title: 'THE LUDWIG MEIDNER ARCHIVE',
        subtitle: 'Kurt de Jong, Flasche, 2007',
        type: 'object',
        href: '?',
        aria_label: '',
        label: 'Object'
      },
      {

        picture: {
          images: 'placeholders',
          positions: { mobile: '50% 50%' },
          fits: { mobile: 'cover' },
          width: 430
        },

        title: 'Prince Jussuf von Thebes',
        subtitle: 'Silberwarenfabrik Adolf G. Meyer Becher, 1926',
        type: 'object',
        href: '?',
        aria_label: '',
        label: 'Object'
      },
      {
        picture: {
          images: 'placeholders',
          positions: { mobile: '50% 50%' },
          fits: { mobile: 'cover' },
          width: 430
        },
        title: 'Collection of Everyday Object',
        subtitle: 'Ida ritter, painting, Berlin 1920-1935',
        type: 'object',
        href: '?',
        aria_label: '',
        label: 'Object'
      },
      {
        picture: {
          images: 'placeholders',
          positions: { mobile: '50% 50%' },
          fits: { mobile: 'cover' },
          width: 430
        },
        title: 'THE LUDWIG MEIDNER ARCHIVE',
        subtitle: 'Jakob Nussbaum Gemälde, 1926',
        type: 'object',
        href: '?',
        aria_label: '',
        label: 'Object'
      },
      {
        picture: {
          images: 'placeholders',
          positions: { mobile: '50% 50%' },
          fits: { mobile: 'cover' },
          width: 430
        },
        title: 'Prince Jussuf von Thebes',
        subtitle: 'Ed. 54/100, Dan Givon',
        type: 'object',
        href: '?',
        aria_label: '',
        label: 'Object'
      },
      {
        picture: {
          images: 'placeholders',
          positions: { mobile: '50% 50%' },
          fits: { mobile: 'cover' },
          width: 430
        },
        title: 'Collection of Everyday Object',
        theme_color: 'theme--magenta',
        type: 'story',
        href: '?',
        aria_label: '',
        label: 'Story'
      },
      {
        picture: {
          images: 'placeholders',
          positions: { mobile: '50% 50%' },
          fits: { mobile: 'cover' },
          width: 430
        },
        title: 'Collection of Everyday Object',
        theme_color: 'theme--magenta',
        type: 'story',
        href: '?',
        aria_label: '',
        label: 'Story'
      }
    ]
  ) }}

  {{ molecules_pagination.regular() }}



{% endblock %}


{% block footer %}

{% endblock %}
