
.logo {
  color: inherit;
  contain: content;
  display: inline-block;
  line-height: 0;
  min-width: 120px;
  position: relative;
  transition: color $easing-change;
  user-select: none;
  vertical-align: top;
}
