{% extends 'templates/_base.html' %}

{% import 'components/structures/header/header.html' as header %}
{% import 'components/organisms/hero-text/hero-text.html' as organisms_hero_text %}
{% import 'components/organisms/hero-image/hero-image.html' as organisms_hero_image %}
{% import 'components/organisms/hero-image-title/hero-image-title.html' as organisms_hero_image_title %}
{% import 'components/organisms/relevant-stories/relevant-stories.html' as organisms_relevant_stories %}
{% import 'components/organisms/content-and-image/content-and-image.html' as organisms_content_and_image %}
{% import 'components/organisms/article-content/article-content.html' as organisms_article_content %}
{% import 'components/organisms/images/images.html' as organisms_images %}
{% import 'components/organisms/article-video/article-video.html' as organisms_article_video %}
{% import 'components/atoms/video-embed/video-embed.html' as atoms_video_embed %}

{% block page_title %}Content{% endblock %}

{% block header %}
  {{ organisms_hero_image.regular(
    align = 'fullbleed',
    picture =  {
      images: { mobile: '/static/media/unsplash/landscape/adam-jang.jpg' },
      positions: { mobile: '50% 50%' },
      fits: { mobile: 'cover' },
      width: 1920
    }
  ) }}

{% endblock %}

{% block content %}

  {{ organisms_hero_text.regular(
    title = 'LUDWIG MEIDNER ARCHIVE - Exiled Jewish Artists',
    text = 'The Jewish Museum has been in charge of the artistic estate of Ludwig Meidner since 1994 and administers it through its Ludwig Meidner Archive. Other estates of artists forced into exile during the Nazi era because of their Jewish origins have been added in the meantime.',
    date = 'November 17, 2020',
    author = 'Article By Alma Fabiani'
  ) }}


  {% call organisms_content_and_image.regular(
    figure = {
      picture: {
        images: { mobile: '/static/media/unsplash/cropped/highlight-1.jpg' },
        positions: { mobile: '50% 50%' },
        fits: { mobile: 'cover' },
        width: 1920
      },
      caption: 'This is the caption of this picture, only if we need one, it is not mandatory',
      caption_number: 1
    },
    link = {
      classes: 'hero-link',
      href: '?',
      title: 'Buy Ticket here',
      target: '_blank',
      icon_after: 'custom/arrow-right-icon'
    }
  ) %}
    <h2>h2 here</h2>
    <p>
      For many artists, exile represented a dramatic break in their career. Emigration often meant the loss of museum commissions, scholarships, patrons and gallery owners. Not all the artists succeeded in making a new beginning abroad; many of them also fell into oblivion in Germany.
    </p>
    <p>
      The Ludwig Meidner Archive handles a series of estates of such artists. Ludwig Meidner (1884-1966) is the most prominent among them and the Archive takes its name from him. The estate of this painter, draughtsman and writer, who became famous as an Expressionist and later devoted himself intensely to religious themes, contains about 2,000 works.
    </p>
    <h3>h3 here</h3>
    <p>
      Im Sommer 1990 wurden am Börneplatz die letzten erhaltenen Überreste der ehemaligen Synagoge freigelegt und dokumentiert. Im mit Abbruchschutt verfüllten Untergeschoß des Gebäudes entdeckten die Archäologinnen und Archäologen zahlreiche Fragmente des zerstörten Thoraschreins der Synagoge. Bislang ließen sich dessen Aussehen und Dimensionen lediglich anhand historischer Texte und Fotografien rekonstruieren.
    </p>
    <ul>
      <li>Im Sommer 1990 wurden am Börneplatz die letzten erhaltenen Überreste der ehemaligen Synagoge freigelegt und dokumentiert.</li>
      <li>Im Sommer 1990 wurden am Börneplatz die letzten erhaltenen Überreste.</li>
      <li>Bislang ließen sich dessen Aussehen und Dimensionen lediglich anhand historischer Texte und Fotografien rekonstruieren.</li>
    </ul>
  {% endcall %}

  <!-- Max 5 images -->
  {{ organisms_images.regular(
    figures = [
      {
        picture: {
          images: { mobile: '/static/media/unsplash/cropped/highlight-1.jpg' },
          positions: { mobile: '50% 50%' },
          fits: { mobile: 'cover' },
          width: 1920
        },
        caption: 'This is the caption of this picture, only if we need one, it is not mandatory',
        caption_number: 2
      },
      {
        picture: {
          images: { mobile: '/static/media/unsplash/cropped/object-series-4.jpg' },
          positions: { mobile: '50% 50%' },
          fits: { mobile: 'cover' },
          width: 1920
        },
        caption: 'This is the caption of this picture, only if we need one, it is not mandatory',
        caption_number: 3
      },
      {
        picture: {
          images: { mobile: '/static/media/unsplash/cropped/highlight-1.jpg' },
          positions: { mobile: '50% 50%' },
          fits: { mobile: 'cover' },
          width: 1920
        },
        caption: 'This is the caption of this picture, only if we need one, it is not mandatory',
        caption_number: 4
      },
      {
        picture: {
          images: { mobile: '/static/media/unsplash/cropped/object-series-4.jpg' },
          positions: { mobile: '50% 50%' },
          fits: { mobile: 'cover' },
          width: 1920
        },
        caption: 'This is the caption of this picture, only if we need one, it is not mandatory',
        caption_number: 5
      },
      {
        picture: {
          images: { mobile: '/static/media/unsplash/cropped/highlight-1.jpg' },
          positions: { mobile: '50% 50%' },
          fits: { mobile: 'cover' },
          width: 1920
        },
        caption: 'This is the caption of this picture, only if we need one, it is not mandatory',
        caption_number: 6
      }
    ]
  ) }}

  {% call organisms_article_content.regular() %}
    <h4>H4 here</h4>
    <p>
      Im Sommer 1990 wurden am Börneplatz die letzten erhaltenen Überreste der ehemaligen Synagoge freigelegt und dokumentiert. Im mit Abbruchschutt verfüllten Untergeschoß des Gebäudes entdeckten die Archäologinnen und Archäologen zahlreiche Fragmente des zerstörten Thoraschreins der Synagoge. Bislang ließen sich dessen Aussehen und Dimensionen lediglich anhand historischer Texte und Fotografien rekonstruieren.
    </p>
    <p>
      In der Präsentation sollen die Fragmente des Thoraschreins aus der „Gemeindeorthodoxen Synagoge“ am Börneplatz – auch Horowitz-Synagoge genannt – ein Zeugnis davon ablegen, mit welcher Gewalt vor mehr als 80 Jahren das jüdische Leben in Frankfurt zerstört wurde.
    </p>
    <ol>
      <li>Im Sommer 1990 wurden am Börneplatz die letzten erhaltenen Überreste der ehemaligen Synagoge freigelegt und dokumentiert.</li>
      <li>Im Sommer 1990 wurden am Börneplatz die letzten erhaltenen Überreste.</li>
      <li>Bislang ließen sich dessen Aussehen und Dimensionen lediglich anhand historischer Texte und Fotografien rekonstruieren.</li>
    </ol>
  {% endcall %}


  {{ organisms_hero_image_title.regular(
    link = {
      classes: 'hero-link',
      href: '?',
      title: 'Buy Ticket here',
      target: '_blank',
      icon_after: 'custom/arrow-right-icon'
    },
    align = 'fullbleed',
    figure = {
      picture: {
        images: { mobile: '/static/media/unsplash/landscape/adam-jang.jpg' },
        positions: { mobile: '50% 50%' },
        fits: { mobile: 'cover' },
        width: 1920
      }
    }
  ) }}

  {% call organisms_article_content.regular() %}
    <h5>H5 here</h5>
    <p>
      Im Sommer 1990 wurden am Börneplatz die letzten erhaltenen Überreste der ehemaligen Synagoge freigelegt und dokumentiert. Im mit Abbruchschutt verfüllten Untergeschoß des Gebäudes entdeckten die Archäologinnen und Archäologen zahlreiche Fragmente des zerstörten Thoraschreins der Synagoge. Bislang ließen sich dessen Aussehen und Dimensionen lediglich anhand historischer Texte und Fotografien rekonstruieren.
    </p>
    <p>
      In der Präsentation sollen die Fragmente des Thoraschreins aus der „Gemeindeorthodoxen Synagoge“ am Börneplatz – auch Horowitz-Synagoge genannt – ein Zeugnis davon ablegen, mit welcher Gewalt vor mehr als 80 Jahren das jüdische Leben in Frankfurt zerstört wurde.
    </p>
  {% endcall %}


  {{ organisms_article_video.regular(
    classes = '',
    href = 'https://www.youtube.com/watch?v=PkZNo7MFNFg&t=2s',
    video_id = 'PkZNo7MFNFg',
    video_type = 'youtube',
    picture = {
      images: { mobile: '/static/media/unsplash/landscape/stephen-arnold.jpg' },
      positions: { mobile: '50% 50%' },
      fits: { mobile: 'cover' },
      width: 430
    },
    autoplay = false,
    button_play_title = 'Play',
    caption = 'This is the caption of this picture, only if we need one, it is not mandatory',
    caption_number = 2
  ) }}


  {{ organisms_relevant_stories.regular(
    title = 'Relevant stories',
    stories = [
      {
        picture: {
          images: { mobile: '/static/media/unsplash/landscape/stephen-arnold.jpg' },
          positions: { mobile: '50% 50%' },
          fits: { mobile: 'cover' },
          width: 430
        },
        title: 'THE LUDWIG MEIDNER ARCHIVE',
        theme_color: 'theme--blue'
      },
      {
        picture: {
          images: { mobile: '/static/media/unsplash/cropped/highlight-1.jpg' },
          positions: { mobile: '50% 50%' },
          fits: { mobile: 'cover' },
          width: 430
        },
        title: 'Prince Jussuf von Thebes',
        theme_color: 'theme--pink'
      },
      {
        picture: {
          images: { mobile: '/static/media/unsplash/landscape/averie-woodard.jpg' },
          positions: { mobile: '50% 50%' },
          fits: { mobile: 'cover' },
          width: 430
        },
        title: 'Collection of Everyday Object',
        theme_color: 'theme--magenta'
      }
    ]
  ) }}

{% endblock %}


{% block footer %}

{% endblock %}
