.object-detail__intro {
  align-items: flex-end;
  display: flex;
  margin-top: -30px;
  position: relative;
  z-index: $z-index-over-image;

  @include landscape {
    margin-bottom: var(--section-space);
    margin-top: 0;
    min-height: calc(100vh - var(--header-height));
  }
}

.object-detail__intro__titles {
  position: relative;
  transform: translate3d(0, 0, 0);
  transform-origin: bottom left;
}

.object-detail__intro__title {
  @include typography(heading-1, false, false, false);

  color: var(--theme-color);
}

.object-detail__intro__subtitle {
  @include typography(heading-3, true, true, false);

  color: var(--theme-color);
}
