
{% import 'components/molecules/card/card.html' as molecule_card %}

{% macro regular(id = '', title = '', cards = []) %}
  <div {% if id %}id="{{ id }}"{% endif %} class="card-carousel">
    <div class="card-carousel__grid">
      <div class="card-carousel__wrapper">
        {% if title %}
          <h2 class="card-carousel__title">{{ title }}</h2>
        {% endif %}

        <div class="card-carousel__cards">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              {% for card in cards %}
                <div class="swiper-slide">
                  {{ molecule_card.regular(href = card.href, target = card.target, title = card.title, text = card.text, picture = card.picture) }}
                </div>
              {% endfor %}
            </div>
          </div>
        </div>

        <div class="swiper-navigation">
          <div class="swiper-pagination"></div>

          <button class="swiper-button-prev">
            {% include 'assets/icons/custom/chevron-left.svg' %}
          </button>

            <button class="swiper-button-next">
            {% include 'assets/icons/custom/chevron-right.svg' %}
            </button>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}
