
.card-list {
  contain: content;
  margin: var(--margin) 0;
  position: relative;

  .card-list__grid {
    @include grid-container;
  }

  .card-list__wrapper {
    grid-column: column 1 / span 12;
  }

  .card-list__title {
    @include typography(heading-2);

    margin-bottom: var(--heading-2-margin-bottom);
  }

  .card-list__cards {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    @include portrait {
      display: flex;
      flex-direction: row;
      width: 100%;
    }

    &:hover,
    &:focus {
      .card-list__content {
        background-color: $color-blue;
      }
    }
  }

  .card-list__image {
    min-width: 250px;
    overflow: hidden;
    position: relative;

    &::before {
      content: '';
      display: block;
      padding-top: 43.75%;
    }

    .picture {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 0;
    }
  }

  .card-list__content {
    background-color: $color-grey-extralight;
    padding: 20px;
    position: relative;
    width: 100%;
  }

  .card-list__card-title,
  .card-list__text {
    color: $color-black;
  }

  .card-list__pagination {
    text-align: center;
  }
}
