{% extends 'core/base_page.html' %}

{% load core_tags wagtailcore_tags wagtailimages_tags starling_tags %}

{%  block page_header %}
    {% for block in page.hero_header %}
        {% include_block block %}
    {% endfor %}

    {% for block in page.text_header %}
        {% include_block block %}
    {% endfor %}
{%  endblock %}


{% block content %}
  <div class="container--content__wrapper">

    {% for block in page.get_content_with_numbered_captioned_entities %}
      {% include_block block %}
    {% endfor %}

  </div>

  {% for block in page.related_items %}
    {% include_block block %}
  {% endfor %}

{% endblock %}

{#{% block footer %}#}
{#      {% include_component 'structures.footer-bar.simple' settings.core.GlobalSettings.get_content_page_footer %}#}
{#{% endblock %}#}