{% extends 'core/base_page.html' %}

{% load core_tags wagtailcore_tags wagtailimages_tags starling_tags %}

{% block bodyclass %}{{ page.theme_color }}{% endblock %}

{%  block page_header %}
    {% for block in page.hero_header %}
        {% include_block block %}
    {% endfor %}

    {% for block in page.text_header %}
        {% include_block block %}
    {% endfor %}
{%  endblock %}


{% block content %}
  <div class="container--content__wrapper">
    {% for block in page.get_content_with_numbered_captioned_entities %}
      {% include_block block %}
    {% endfor %}
  </div>

  {% block extra_content %}
  {% endblock %}


  {% block related_items %}
      {% if page.get_page_related_items %}
          {% for block in page.related_items %}
            {% include_block block %}
          {% endfor %}
      {% endif %}
  {% endblock %}

{% endblock %}