
.link {
  @include typography(link, $montserrat-font-stack);

  &:hover {
    .link__icon svg {
      margin-left: 5px;
    }
  }
}

.link__icon {
  display: flex;

  svg {
    margin-left: 10px;
    max-height: 19.35px;
    max-width: 24px;
    transition: margin-left .2s;
  }
}
